.project_details {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .project_description {
    position: absolute;
    padding: 20% 25%;
    line-height: 50px;

    .word_active {
      display: inline-block;
      font-size: 30px;
      opacity: 1;
    }
    
    .word {
      display: inline-block;
      font-size: 30px;
      opacity: 0;
    }
  }
}

button {
  position: relative;
}