@import '@/styles/variables.module.scss';

#links_array {
  margin-bottom: 30px;

  caption {
    width: 100%;
    // padding: 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-collapse: collapse;
  }

  tr {
    padding: $px_margin_M;
    display: flex;
    flex-direction: row;
    border-top: 1pt solid #ffffff33;
    font-weight: 200;

    .links_array_link {
      min-width: 200px;
      padding: $px_margin_M;
      display: flex;
      align-items: flex-start;
    }

    .links_array_description {
      min-width: 300px;
      padding: $px_margin_M;
      display: flex;
      align-items: flex-start;
      text-align: justify;
      font-weight: 300;
    }
  }

  tr:last-child {
    border-radius: 0 0 15px 15px;
  }

  tr:hover {
    background: rgba(64, 64, 64, 0.3);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    transition: all 0.2s;
  }
}
