@import '@/styles/variables.module.scss';

#last_projects_text_container {
  position: relative;
  width: 40%;
  margin-left: 200px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    color: $text_light;
    margin-bottom: 20px;
  }

  p {
    color: $text_medium_light;
    font-size: $font_size_small;
    text-align: justify;
    font-weight: 200;
    line-height: 1.6;
  }
}
