@import '@/styles/new/variables.module.scss';

#logo {
  z-index: 11;
  width: 120px;
  height: 75px;
  margin-top: 15px;
  margin-left: 15px;
}

@media screen and (max-width: $desktop_limit) {
  #logo {
    width: 100px;
    height: 60px;
    margin-top: 10px;
    margin-left: 15px;
  }
}
