@import '@/styles/variables.module.scss';

#logo {
  z-index: 11;
  width: 100px;
  height: 75px;
  margin-top: $px_margin_XXS;
  margin-left: $px_margin_XXS;
}

@media screen and (max-width: $desktop_limit) {
  #logo {
    width: 80px;
    height: 60px;
    margin-top: $px_margin_XXS;
    margin-left: $px_margin_XXS;
  }
}
