@import '@/styles/variables.module.scss';

#hamburger_menu_icon {
  display: none;
  margin-left: 20px;
}

@media screen and (max-width: $desktop_limit) {
  #hamburger_menu_icon {
    z-index: 10;
    display: block;
    cursor: pointer;

    .hamburger_menu_input {
      opacity: 0;
      visibility: hidden;
      z-index: 1;
      display: none;
    }

    .hamburger_menu_label {
      width: 50px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border-radius: 10px;
      cursor: pointer;
    }

    .hamburger_menu_line {
      position: absolute;
      display: block;
      width: 35px;
      height: 4px;
      background-color: $grey_ededed;
      border-radius: 40px;
    }

    .hamburger_menu_line::before,
    .hamburger_menu_line::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: $grey_ededed;
      border-radius: 10px;
      transform-origin: right;
      transition:
        width 0.4s,
        transform 0.4s;
    }

    .hamburger_menu_line::before {
      transform: translateY(-10px);
    }

    .hamburger_menu_line::after {
      transform: translateY(6px);
    }

    .hamburger_menu_input:checked + .hamburger_menu_label .hamburger_menu_line::before {
      width: 60%;
      transform: translateX(13px) translateY(0px) rotate(30deg);
    }

    .hamburger_menu_input:checked + .hamburger_menu_label .hamburger_menu_line::after {
      width: 60%;
      transform: translateX(13px) translateY(-4px) rotate(-30deg);
    }
  }

  #hamburger_menu_icon:hover .hamburger_menu_line,
  #hamburger_menu_icon:hover .hamburger_menu_line::before,
  #hamburger_menu_icon:hover .hamburger_menu_line::after {
    background-color: $grey_ccc;
  }
}
