@import '@/styles/variables.module.scss';

.page_introduction {
  height: fit-content;
  margin-top: -5px;
  margin-bottom: -80px;
  overflow: hidden;

  .pi_introduction {
    margin-bottom: $px_margin_XL;
    padding: $px_margin_L $px_margin_XL $px_margin_XL $px_margin_XL;
    text-align: justify;
    background: rgba(64, 64, 64, 0.3);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border-top: 1pt solid #ffffff33;
    border-radius: 0 0 15px 15px;

    .home_made {
      color: $sky;
    }
  }

  #youtube_playlist_disclamer {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      width: 30px;
      height: 20px;
      margin-right: $px_margin_M;
      color: $youtube_red;
    }

    p {
      font-size: $font_size_XS;
      text-align: justify;
      color: $youtube_red;
    }
  }
}
