@import '@/styles/new/variables.module.scss';

#texture_selector {
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.texture-selector {
  transform: scale(5);
}

.texture-selector img.active {
  border: 2px solid red;
}
