.pbnx-carousel-heading {
  margin-bottom: 0 !important;
}
#pbnx-side-sheet {
  overflow: scroll;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 460px;
  z-index: 290;
  margin: 0;
  background-color: #f9fbfb;
  border-width: 0;
  top: 0;
  box-shadow: -4px 0 5px rgba(0, 0, 0, 0.25);
  -webkit-overflow-scrolling: touch;
  text-align: initial;
  font-size: 13px;
  color: #111;
}
#pbnx-close-button {
  position: fixed;
  right: 470px;
  cursor: pointer;
  opacity: 1;
  width: 20px;
  height: 30px;
  background-position: -350px -100px;
}
#pbnx-darken-background {
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 280;
  cursor: pointer;
}
.pbnx-shipping-details-text {
  padding-left: 12px;
}
.pbnx-desktop-box {
  overflow: hidden;
  border: 5px solid #e7e7e7;
  border-radius: 4px;
}
.pbnx-desktop-container {
  overflow: hidden;
}
.pbnx-desktop-container .pbnx-desktop-container-borders {
  border: 1px solid #bbbfbf;
  border-radius: 7px;
  margin-top: 12px;
}
.pbnx-desktop-container .pbnx-carousel-container {
  border-right: 1px solid #bbbfbf;
  padding-bottom: 10px;
}
.pbnx-desktop-container .pbnx-desktop-container-title {
  padding: 12px;
  border-bottom: 1px solid #bbbfbf;
  margin-bottom: 3px;
}
.pbnx-desktop-carousel-container .a-carousel-left,
.pbnx-desktop-carousel-container .a-carousel-right {
  width: 50px;
  padding: unset;
}
.pbnx-desktop-carousel-container .a-carousel-button {
  height: 100px;
  width: 100%;
  top: 30%;
  position: relative;
  background: #fff;
  border-radius: 2px;
}
.pbnx-desktop-carousel-container .a-carousel-button .a-button-inner {
  position: relative;
  top: 30%;
}
.pbnx-desktop-carousel-container .a-button:focus .a-button-inner {
  background-color: unset;
}
.pbnx-desktop-book-delivery-badge {
  display: inline-block;
}
.pbnx-v2-total-price {
  float: right;
}
