.series-subs-two-step-cta-container .bifrostBuyButton {
  margin-bottom: 0;
}
.series-subs-why-link {
  margin-left: 10px;
}
.series-subs-two-step-img-container {
  float: left;
}
.series-subs-two-step-content-container {
  float: right;
  width: 375px;
  padding-left: 25px;
}
.series-subs-two-step-cta-container {
  width: 245px;
}
.series-subs-add-device-rectangle {
  float: left;
  height: 11px;
  width: 3px;
  background-color: #007600;
  display: inline-block;
  margin-right: 10px;
}
.series-subs-no-device-container {
  position: relative;
}
.series-subscribe-boxed {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px !important;
}
.series-already-subscribed-boxed {
  border-radius: 4px;
  box-shadow: 0 0 0 4px #bbd3de;
  margin-bottom: 25px !important;
}
.series-subscribe-success-boxed {
  border-radius: 4px;
  box-shadow: 0 0 0 4px #dff7df;
  margin-bottom: 25px !important;
}
.series-subscribe-error-boxed {
  border-radius: 4px;
  box-shadow: 0 0 0 4px #c40000;
  margin-bottom: 25px !important;
}
