.clickableImage {
  cursor: pointer;
}
#ebooksSitbLogo {
  position: relative;
  text-align: left;
}
#ebooksImageBlock {
  margin: 10px 0;
}
#ebooksImageBlockContainer {
  margin-bottom: 10px;
}
#pbooksReadSampleButton button {
  padding: 0 !important;
}
#ebooksReadSample button {
  padding: 0 !important;
}
#spinny-spinner .rotate {
  animation: litb_loading_rotation 1s infinite linear;
}
@keyframes litb_loading_rotation {
  100% {
    transform: rotate(360deg);
  }
}
#ebooksReadSampleButton .litb-look-text,
#pbooksReadSampleButton .litb-look-text {
  font-family: Helvetica;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #c75000;
}
#ebooksReadSampleButton .litb-inside-text,
#pbooksReadSampleButton .litb-inside-text {
  font-family: Helvetica;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #007db8;
}
#ebooksReadSampleButton .read-sample-button-text img,
#pbooksReadSampleButton .read-sample-button-text img {
  width: 16px;
  height: 30px;
}
