#buybox #kindleRewardsRedemptionBalanceTrackerSection span#buybox-kindle-rewards-label {
  white-space: pre;
  background-color: #2578cc;
  color: #fcfdff;
  display: inline-block;
}
#buybox #kindleRewardsRedemptionBalanceTrackerSection .a-progress-bar .a-meter {
  box-shadow: none;
  background-color: #d5dbdb;
  height: 5px;
}
#buybox #kindleRewardsRedemptionBalanceTrackerSection .a-progress-bar .a-meter-bar {
  background-color: #2578cc;
  box-shadow: none;
}
#buybox #kindleRewardsRedemptionBalanceTrackerSection .a-progress-bar {
  margin: 5px 0 3px 0;
}
#buybox #kindleRewardsRedemptionBalanceTrackerSection #krrBalanceTargetDetail {
  display: flex;
  justify-content: space-between;
}
#buybox #kindleRewardsRedemptionBalanceTrackerSection .krrBalanceTrackerGoalDesktop {
  font-size: 14px !important;
}
#buybox #kindleRewardsRedemptionBalanceTrackerSection {
  margin: 1.3rem 0 0.4rem 0 !important;
}
#buybox #kindleRewardsRedemptionBalanceTrackerSection.desktopSection {
  margin: 8px 0 4px 0 !important;
}
#buybox #kindleRewardsRedemptionRedeemCheckboxSection span#buybox-kindle-rewards-label {
  white-space: pre;
  background-color: #2578cc;
  color: #fcfdff;
  display: inline-block;
}
#buybox #kindleRewardsRedemptionRedeemCheckboxSection #krrCheckboxOuter label {
  position: unset;
}
#buybox #kindleRewardsRedemptionRedeemCheckboxSection #krrCheckboxAction {
  display: inline-block;
}
@media (max-width: 420px) {
  #buybox #kindleRewardsRedemptionRedeemCheckboxSection #krrCheckboxAction {
    width: 2em;
  }
}
#buybox #kindleRewardsRedemptionRedeemCheckboxSection #krrCheckboxLabelTextAction {
  cursor: default;
}
#buybox #kindleRewardsRedemptionRedeemCheckboxSection #krrCheckboxOuter span.a-label {
  padding: 0;
}
#buybox #kindleRewardsRedemptionRedeemCheckboxSection #krrCheckboxOuter.a-control-row {
  padding-left: 2.5rem;
}
#buybox #kindleRewardsRedemptionRedeemCheckboxSection.aboveBuyButton {
  margin: 0.4rem 0 1.3rem 0 !important;
}
#buybox #kindleRewardsRedemptionRedeemCheckboxSection.belowBuyButton {
  margin: 1.3rem 0 0.4rem 0 !important;
}
#buybox #kindleRewardsRedemptionRedeemCheckboxSection.desktopSection.aboveBuyButton {
  margin: 4px 0 8px 0 !important;
}
#buybox #kindleRewardsRedemptionRedeemCheckboxSection.desktopSection.belowBuyButton {
  margin: 8px 0 4px 0 !important;
}
