.rpi-icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url(https://m.media-amazon.com/images/S/sash/ccX$OsIjSEMwUCJ.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon {
    background-image: url(https://m.media-amazon.com/images/S/sash/jJ8$ORAh6fp8bor.png);
    background-size: 512px 32px;
  }
}
.rpi-icon.book_details-reading_age {
  height: 24px;
  width: 24px;
  background-position: -367px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-reading_age {
    background-position: -351.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-customer_recommended_age {
  height: 24px;
  width: 24px;
  background-position: -367px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-customer_recommended_age {
    background-position: -351.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-publisher_recommended_age {
  height: 24px;
  width: 24px;
  background-position: -367px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-publisher_recommended_age {
    background-position: -351.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-dimensions {
  height: 24px;
  width: 24px;
  background-position: -29px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-dimensions {
    background-position: -26.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-ebook_pages {
  height: 24px;
  width: 24px;
  background-position: -237px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-ebook_pages {
    background-position: -226.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-edition {
  height: 24px;
  width: 24px;
  background-position: -55px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-edition {
    background-position: -51.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-file_size {
  height: 24px;
  width: 24px;
  background-position: -107px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-file_size {
    background-position: -101.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-fiona_pages {
  height: 24px;
  width: 24px;
  background-position: -237px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-fiona_pages {
    background-position: -226.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-grade_level {
  height: 24px;
  width: 24px;
  background-position: -133px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-grade_level {
    background-position: -126.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-isbn10 {
  height: 24px;
  width: 24px;
  background-position: -185px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-isbn10 {
    background-position: -176.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-isbn13 {
  height: 24px;
  width: 24px;
  background-position: -185px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-isbn13 {
    background-position: -176.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-lexile {
  height: 24px;
  width: 24px;
  background-position: -263px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-lexile {
    background-position: -251.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-page_flip {
  height: 24px;
  width: 24px;
  background-position: -289px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-page_flip {
    background-position: -276.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-recaps {
  height: 24px;
  width: 24px;
  background-position: -393px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-recaps {
    background-position: -376.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-publication_date {
  height: 24px;
  width: 24px;
  background-position: -315px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-publication_date {
    background-position: -301.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-publisher {
  height: 24px;
  width: 24px;
  background-position: -341px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-publisher {
    background-position: -326.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.language {
  height: 24px;
  width: 24px;
  background-position: -211px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.language {
    background-position: -201.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-advanced_type_setting {
  height: 24px;
  width: 24px;
  background-position: -81px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-advanced_type_setting {
    background-position: -76.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-word_wise {
  height: 24px;
  width: 24px;
  background-position: -445px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-word_wise {
    background-position: -426.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-series {
  height: 24px;
  width: 24px;
  background-position: -419px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-series {
    background-position: -401.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-handwritten_sticky_notes {
  height: 24px;
  width: 24px;
  background-position: -159px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-handwritten_sticky_notes {
    background-position: -151.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-write_on_page {
  height: 24px;
  width: 24px;
  background-position: -471px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-write_on_page {
    background-position: -451.5px -1px;
    width: 24px;
    height: 24px;
  }
}
.rpi-icon.book_details-enhanced_features {
  height: 24px;
  width: 25px;
  background-position: -2px -2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rpi-icon.book_details-enhanced_features {
    background-position: -1px -1px;
    width: 24.5px;
    height: 24px;
  }
}
