@font-face {
  font-family: Amazon Ember;
  font-style: normal;
  font-weight: 200;
  src:
    url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2) format('woff2'),
    url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff) format('woff');
}
@font-face {
  font-family: Amazon Ember;
  font-style: italic;
  font-weight: 200;
  src:
    url(https://m.media-amazon.com/images/S/sash/ozb5-CLHQWI6Soc.woff2) format('woff2'),
    url(https://m.media-amazon.com/images/S/sash/twzZHebXjCHBb6v.woff) format('woff');
}
@font-face {
  font-family: Amazon Ember;
  font-style: normal;
  font-weight: 400;
  src:
    url(https://m.media-amazon.com/images/S/sash/pDxWAF1pBB0dzGB.woff2) format('woff2'),
    url(https://m.media-amazon.com/images/S/sash/kfKKBuoqcD$AUKL.woff) format('woff');
}
@font-face {
  font-family: Amazon Ember;
  font-style: italic;
  font-weight: 400;
  src:
    url(https://m.media-amazon.com/images/S/sash/WOnTLzkiaEccV7F.woff2) format('woff2'),
    url(https://m.media-amazon.com/images/S/sash/JJsp0ZvgpfwzJM6.woff) format('woff');
}
@font-face {
  font-family: Amazon Ember;
  font-style: normal;
  font-weight: 500;
  src:
    url(https://m.media-amazon.com/images/S/sash/VjTR4RqBzY0mUYx.woff2) format('woff2'),
    url(https://m.media-amazon.com/images/S/sash/XIvhNCZAsrT80Wz.woff) format('woff');
}
@font-face {
  font-family: Amazon Ember;
  font-style: italic;
  font-weight: 500;
  src:
    url(https://m.media-amazon.com/images/S/sash/KwhNPG8Jz-Vz2X7.woff2) format('woff2'),
    url(https://m.media-amazon.com/images/S/sash/YAEPfuhs1l-argd.woff) format('woff');
}
@font-face {
  font-family: Amazon Ember;
  font-style: normal;
  font-weight: 700;
  src:
    url(https://m.media-amazon.com/images/S/sash/KFPk-9IF4FqAqY-.woff2) format('woff2'),
    url(https://m.media-amazon.com/images/S/sash/mzVbGSgvdBfRLX9.woff) format('woff');
}
@font-face {
  font-family: Amazon Ember;
  font-style: italic;
  font-weight: 700;
  src:
    url(https://m.media-amazon.com/images/S/sash/2SazJx$EeTHfhMN.woff2) format('woff2'),
    url(https://m.media-amazon.com/images/S/sash/CjbL$jCCegyfqZ7.woff) format('woff');
}
@font-face {
  font-family: Bookerly Display;
  font-style: normal;
  font-weight: 400;
  src:
    url(https://m.media-amazon.com/images/G/01/cbbe/BookerlyDisplay_W_Rg.woff2) format('woff2'),
    url(https://m.media-amazon.com/images/G/01/cbbe/BookerlyDisplay_W_Rg.woff) format('woff');
}
@font-face {
  font-family: Bookerly Display;
  font-style: italic;
  font-weight: 400;
  src:
    url(https://m.media-amazon.com/images/G/01/cbbe/fonts/BookerlyDisplay_W_It.woff2)
      format('woff2'),
    url(https://m.media-amazon.com/images/G/01/cbbe/fonts/BookerlyDisplay_W_It.woff) format('woff');
}
@font-face {
  font-family: Bookerly Display;
  font-style: normal;
  font-weight: 700;
  src:
    url(https://m.media-amazon.com/images/G/01/cbbe/fonts/BookerlyDisplay_W_Bd.woff2)
      format('woff2'),
    url(https://m.media-amazon.com/images/G/01/cbbe/fonts/BookerlyDisplay_W_Bd.woff) format('woff');
}
@font-face {
  font-family: Bookerly Display;
  font-style: italic;
  font-weight: 700;
  src:
    url(https://m.media-amazon.com/images/G/01/cbbe/fonts/BookerlyDisplay_W_BdIt.woff2)
      format('woff2'),
    url(https://m.media-amazon.com/images/G/01/cbbe/fonts/BookerlyDisplay_W_BdIt.woff)
      format('woff');
}
@font-face {
  font-family: 'Amazon Ember Serif';
  font-style: normal;
  font-weight: 400;
  src:
    url(https://m.media-amazon.com/images/G/01/Books/BooksDesignSystem/bds-fonts/AmazonEmberSerif_W_Rg.woff2)
      format('woff2'),
    url(https://m.media-amazon.com/images/G/01/Books/BooksDesignSystem/bds-fonts/AmazonEmberSerif_W_Rg.woff)
      format('woff');
}
@font-face {
  font-family: 'Amazon Ember Serif';
  font-style: italic;
  font-weight: 400;
  src:
    url(https://m.media-amazon.com/images/G/01/Books/BooksDesignSystem/bds-fonts/AmazonEmberSerif_W_RgIt.woff2)
      format('woff2'),
    url(https://m.media-amazon.com/images/G/01/Books/BooksDesignSystem/bds-fonts/AmazonEmberSerif_W_RgIt.woff)
      format('woff');
}
@font-face {
  font-family: 'Amazon Ember Serif';
  font-style: normal;
  font-weight: 700;
  src:
    url(https://m.media-amazon.com/images/G/01/Books/BooksDesignSystem/bds-fonts/AmazonEmberSerif_W_Bd.woff2)
      format('woff2'),
    url(https://m.media-amazon.com/images/G/01/Books/BooksDesignSystem/bds-fonts/AmazonEmberSerif_W_Bd.woff)
      format('woff');
}
@font-face {
  font-family: 'Amazon Ember Serif';
  font-style: italic;
  font-weight: 700;
  src:
    url(https://m.media-amazon.com/images/G/01/Books/BooksDesignSystem/bds-fonts/AmazonEmberSerif_W_BdIt.woff2)
      format('woff2'),
    url(https://m.media-amazon.com/images/G/01/Books/BooksDesignSystem/bds-fonts/AmazonEmberSerif_W_BdIt.woff)
      format('woff');
}
:root {
  --bds-size-border-thin: 0.0625rem;
  --bds-size-border-medium: 0.125rem;
  --bds-size-border-thick: 0.1875rem;
  --bds-size-border-extra-thick: 0.25rem;
  --bds-size-border-extra-extra-thick: 0.375rem;
  --bds-size-border-radius-square: 0rem;
  --bds-size-border-radius-mini: 0.125rem;
  --bds-size-border-radius-small: 0.25rem;
  --bds-size-border-radius-medium: 0.5rem;
  --bds-size-border-radius-large: 0.75rem;
  --bds-size-border-radius-extra-large: 1rem;
  --bds-size-border-radius-extra-extra-large: 1.5rem;
  --bds-size-font-micro: 0.625rem;
  --bds-size-font-mini: 0.75rem;
  --bds-size-font-small: 0.875rem;
  --bds-size-font-base: 0.9375rem;
  --bds-size-font-base-plus: 1rem;
  --bds-size-font-medium: 1.125rem;
  --bds-size-font-medium-plus: 1.25rem;
  --bds-size-font-large: 1.5rem;
  --bds-size-font-extra-large: 1.75rem;
  --bds-size-font-double-large: 2.25rem;
  --bds-size-spacing-pico: 0.0625rem;
  --bds-size-spacing-nano: 0.125rem;
  --bds-size-spacing-micro: 0.25rem;
  --bds-size-spacing-mini: 0.25rem;
  --bds-size-spacing-mini-plus: 0.375rem;
  --bds-size-spacing-small: 0.5rem;
  --bds-size-spacing-small-plus: 0.625rem;
  --bds-size-spacing-base: 0.75rem;
  --bds-size-spacing-base-plus: 1rem;
  --bds-size-spacing-medium: 1.25rem;
  --bds-size-spacing-medium-plus: 1.5rem;
  --bds-size-spacing-large: 2rem;
  --bds-size-spacing-extra-large: 2.5rem;
  --bds-size-spacing-extra-large-plus: 2.75rem;
  --bds-size-spacing-extra-extra-large: 3rem;
  --bds-size-line-height-micro: 1rem;
  --bds-size-line-height-mini: 1rem;
  --bds-size-line-height-small: 1.125rem;
  --bds-size-line-height-base: 1.25rem;
  --bds-size-line-height-base-plus: 1.5rem;
  --bds-size-line-height-medium: 1.5rem;
  --bds-size-line-height-medium-plus: 1.5rem;
  --bds-size-line-height-large: 1.75rem;
  --bds-size-line-height-extra-large: 2rem;
  --bds-size-line-height-double-large: 2.5rem;
  --bds-size-icon-star-height-mini: 0.6875rem;
  --bds-size-icon-star-height-small: 0.9375rem;
  --bds-size-icon-star-height-medium: 1.1875rem;
  --bds-size-icon-star-width-mini: 0.75rem;
  --bds-size-icon-star-width-small: 1rem;
  --bds-size-icon-star-width-medium: 1.125rem;
  --bds-size-tag-pill-height: 2.25rem;
  --bds-size-tag-pill-selected-icon-container-width: 1rem;
  --bds-size-tag-pill-selected-icon-height: 0.875rem;
  --bds-size-tag-pill-program-logo-height: 0.875rem;
  --bds-size-tag-pill-end-icon-width: 0.5rem;
  --bds-weight-font-base: 400;
  --bds-weight-font-heading: 400;
  --bds-weight-font-heavy: 700;
  --bds-mosaic-faceout-font-weight-deal-message-text: 400;
  --bds-mosaic-faceout-font-weight-deal-percent-text: 700;
  --bds-mosaic-faceout-font-weight-format-text: 400;
  --bds-mosaic-faceout-size-badge-padding-top: 0.75rem;
  --bds-mosaic-faceout-size-container-border-radius: 0.25rem;
  --bds-mosaic-faceout-size-container-width-maximum-large: 15rem;
  --bds-mosaic-faceout-size-container-width-maximum-shoveler: 11.25rem;
  --bds-mosaic-faceout-size-container-width-maximum-small: 9.375rem;
  --bds-mosaic-faceout-size-deal-message-text: 0.875rem;
  --bds-mosaic-faceout-size-deal-message-line-height: 1.25rem;
  --bds-mosaic-faceout-size-deal-percent-border-radius: 0.25rem;
  --bds-mosaic-faceout-size-deal-percent-line-height: 1.25rem;
  --bds-mosaic-faceout-size-deal-percent-text: 0.9375rem;
  --bds-mosaic-faceout-size-format-line-height: 1.25rem;
  --bds-mosaic-faceout-size-format-text: 0.9375rem;
  --bds-mosaic-faceout-size-image-padding-bottom-small: 0rem;
  --bds-mosaic-faceout-size-image-padding-bottom-large: 0rem;
  --bds-mosaic-faceout-size-image-padding-left-small: 1rem;
  --bds-mosaic-faceout-size-image-padding-left-large: 2rem;
  --bds-mosaic-faceout-size-image-padding-right-small: 1rem;
  --bds-mosaic-faceout-size-image-padding-right-large: 2rem;
  --bds-mosaic-faceout-size-image-padding-top-small: 1rem;
  --bds-mosaic-faceout-size-image-padding-top-large: 1rem;
  --bds-mosaic-faceout-size-primary-metadata-height-minimum: 1rem;
  --bds-mosaic-faceout-size-secondary-metadata-item-spacing: 0.5rem;
  --bds-mosaic-faceout-size-secondary-metadata-padding-bottom: 0.5rem;
  --bds-mosaic-faceout-size-secondary-metadata-padding-left: 0.5rem;
  --bds-mosaic-faceout-size-secondary-metadata-padding-right: 0.5rem;
  --bds-mosaic-faceout-size-secondary-metadata-padding-top: 0.5rem;
  --bds-color-background-light: #fff;
  --bds-color-background-light-contrast: #f7fafa;
  --bds-color-background-dark: #303333;
  --bds-color-background-dark-contrast: #303333;
  --bds-color-background-base: #fff;
  --bds-color-background-badge: #565959;
  --bds-color-border-extra-light: #e3e6e6;
  --bds-color-border-light: #d5d9d9;
  --bds-color-border-medium: #888c8c;
  --bds-color-feedback-success: #067d62;
  --bds-color-feedback-error: #cc0c39;
  --bds-color-feedback-information: #007185;
  --bds-color-feedback-warning: #067d62;
  --bds-color-font-primary: #0f1111;
  --bds-color-font-secondary: #565959;
  --bds-color-font-link: #007185;
  --bds-color-font-placeholder: #6f7373;
  --bds-color-font-error: #cc0c39;
  --bds-color-font-success: #6f7373;
  --bds-color-font-disabled: #6f7373;
  --bds-color-font-selected: #007185;
  --bds-color-font-available: #0f1111;
  --bds-color-font-unavailable: #0f1111;
  --bds-color-font-low-inventory: #0f1111;
  --bds-color-font-restock: #0f1111;
  --bds-color-font-badge: #fff;
  --bds-font-family-body: Amazon Ember, Arial, sans-serif;
  --bds-font-family-heading: Amazon Ember Serif, serif;
  --bds-font-family-japan: Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
  --bds-font-family-china: Hiragino Sans GB, Microsoft Yahei, Arial, sans-serif;
  --bds-mosaic-faceout-color-deal-message-text-on-light: #000;
  --bds-mosaic-faceout-color-deal-message-text-on-dark: #fff;
  --bds-mosaic-faceout-color-deal-percent-background: #c20000;
  --bds-mosaic-faceout-color-deal-percent-border: #940000;
  --bds-mosaic-faceout-color-deal-percent-text: #fff;
  --bds-mosaic-faceout-color-format-text-on-light: #000;
  --bds-mosaic-faceout-color-format-text-on-dark: #fff;
  --bds-mosaic-faceout-color-price-text-on-light: #000;
  --bds-mosaic-faceout-color-price-text-on-dark: #fff;
  --bds-mosaic-faceout-color-secondary-metadata-background: #fff;
  --bds-mosaic-faceout-font-decoration-deal-message-text: none;
  --bds-mosaic-faceout-font-decoration-deal-percent-text: none;
  --bds-mosaic-faceout-font-decoration-format-text: none;
  --bds-mosaic-faceout-font-family-deal-message-text: Amazon Ember, Arial, sans-serif;
  --bds-mosaic-faceout-font-family-deal-percent-text: Amazon Ember, Arial, sans-serif;
  --bds-mosaic-faceout-font-family-format-text: Amazon Ember, Arial, sans-serif;
}
bds-render-context-provider[theme='dark'] {
  --bds-color-background-light: #fff;
  --bds-color-background-light-contrast: #f7fafa;
  --bds-color-background-dark: #303333;
  --bds-color-background-dark-contrast: #303333;
  --bds-color-background-base: #303333;
  --bds-color-background-badge: #fff;
  --bds-color-border-extra-light: #e3e6e6;
  --bds-color-border-light: #d5d9d9;
  --bds-color-border-medium: #888c8c;
  --bds-color-feedback-success: #067d62;
  --bds-color-feedback-error: #cc0c39;
  --bds-color-feedback-information: #007185;
  --bds-color-feedback-warning: #067d62;
  --bds-color-font-primary: #f0f2f2;
  --bds-color-font-secondary: #a2a6a6;
  --bds-color-font-link: #3db7cc;
  --bds-color-font-placeholder: #bbbfbf;
  --bds-color-font-error: #ff8c8c;
  --bds-color-font-success: #bbbfbf;
  --bds-color-font-disabled: #bbbfbf;
  --bds-color-font-selected: #c8f3fa;
  --bds-color-font-available: #f7fafa;
  --bds-color-font-unavailable: #f7fafa;
  --bds-color-font-low-inventory: #f7fafa;
  --bds-color-font-restock: #f7fafa;
  --bds-color-font-badge: #000;
  --bds-font-family-body: Amazon Ember, Arial, sans-serif;
  --bds-font-family-heading: Amazon Ember Serif, serif;
  --bds-font-family-japan: Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
  --bds-font-family-china: Hiragino Sans GB, Microsoft Yahei, Arial, sans-serif;
  --bds-mosaic-faceout-color-deal-message-text-on-light: #000;
  --bds-mosaic-faceout-color-deal-message-text-on-dark: #fff;
  --bds-mosaic-faceout-color-deal-percent-background: #c20000;
  --bds-mosaic-faceout-color-deal-percent-border: #940000;
  --bds-mosaic-faceout-color-deal-percent-text: #fff;
  --bds-mosaic-faceout-color-format-text-on-light: #000;
  --bds-mosaic-faceout-color-format-text-on-dark: #fff;
  --bds-mosaic-faceout-color-price-text-on-light: #000;
  --bds-mosaic-faceout-color-price-text-on-dark: #fff;
  --bds-mosaic-faceout-color-secondary-metadata-background: #303333;
  --bds-mosaic-faceout-font-decoration-deal-message-text: none;
  --bds-mosaic-faceout-font-decoration-deal-percent-text: none;
  --bds-mosaic-faceout-font-decoration-format-text: none;
  --bds-mosaic-faceout-font-family-deal-message-text: Amazon Ember, Arial, sans-serif;
  --bds-mosaic-faceout-font-family-deal-percent-text: Amazon Ember, Arial, sans-serif;
  --bds-mosaic-faceout-font-family-format-text: Amazon Ember, Arial, sans-serif;
}
bds-render-context-provider.aui-mobile-tablet-root-font-size {
  --bds-size-border-thin: 0.1rem;
  --bds-size-border-medium: 0.2rem;
  --bds-size-border-thick: 0.3rem;
  --bds-size-border-extra-thick: 0.4rem;
  --bds-size-border-extra-extra-thick: 0.6rem;
  --bds-size-border-radius-square: 0rem;
  --bds-size-border-radius-mini: 0.2rem;
  --bds-size-border-radius-small: 0.4rem;
  --bds-size-border-radius-medium: 0.8rem;
  --bds-size-border-radius-large: 1.2rem;
  --bds-size-border-radius-extra-large: 1.6rem;
  --bds-size-border-radius-extra-extra-large: 2.4rem;
  --bds-size-font-micro: 1rem;
  --bds-size-font-mini: 1.2rem;
  --bds-size-font-small: 1.4rem;
  --bds-size-font-base: 1.5rem;
  --bds-size-font-base-plus: 1.6rem;
  --bds-size-font-medium: 1.8rem;
  --bds-size-font-medium-plus: 2rem;
  --bds-size-font-large: 2.4rem;
  --bds-size-font-extra-large: 2.8rem;
  --bds-size-font-double-large: 3.6rem;
  --bds-size-spacing-pico: 0.1rem;
  --bds-size-spacing-nano: 0.2rem;
  --bds-size-spacing-micro: 0.4rem;
  --bds-size-spacing-mini: 0.4rem;
  --bds-size-spacing-mini-plus: 0.6rem;
  --bds-size-spacing-small: 0.8rem;
  --bds-size-spacing-small-plus: 1rem;
  --bds-size-spacing-base: 1.2rem;
  --bds-size-spacing-base-plus: 1.6rem;
  --bds-size-spacing-medium: 2rem;
  --bds-size-spacing-medium-plus: 2.4rem;
  --bds-size-spacing-large: 3.2rem;
  --bds-size-spacing-extra-large: 4rem;
  --bds-size-spacing-extra-large-plus: 4.4rem;
  --bds-size-spacing-extra-extra-large: 4.8rem;
  --bds-size-line-height-micro: 1.6rem;
  --bds-size-line-height-mini: 1.6rem;
  --bds-size-line-height-small: 1.8rem;
  --bds-size-line-height-base: 2rem;
  --bds-size-line-height-base-plus: 2.4rem;
  --bds-size-line-height-medium: 2.4rem;
  --bds-size-line-height-medium-plus: 2.4rem;
  --bds-size-line-height-large: 2.8rem;
  --bds-size-line-height-extra-large: 3.2rem;
  --bds-size-line-height-double-large: 4rem;
  --bds-size-icon-star-height-mini: 1.1rem;
  --bds-size-icon-star-height-small: 1.5rem;
  --bds-size-icon-star-height-medium: 1.9rem;
  --bds-size-icon-star-width-mini: 1.2rem;
  --bds-size-icon-star-width-small: 1.6rem;
  --bds-size-icon-star-width-medium: 1.8rem;
  --bds-size-tag-pill-height: 3.6rem;
  --bds-size-tag-pill-selected-icon-container-width: 1.6rem;
  --bds-size-tag-pill-selected-icon-height: 1.4rem;
  --bds-size-tag-pill-program-logo-height: 1.4rem;
  --bds-size-tag-pill-end-icon-width: 0.8rem;
  --bds-mosaic-faceout-size-badge-padding-top: 1.2rem;
  --bds-mosaic-faceout-size-container-border-radius: 0.4rem;
  --bds-mosaic-faceout-size-container-width-maximum-large: 24rem;
  --bds-mosaic-faceout-size-container-width-maximum-shoveler: 18rem;
  --bds-mosaic-faceout-size-container-width-maximum-small: 15rem;
  --bds-mosaic-faceout-size-deal-message-text: 1.4rem;
  --bds-mosaic-faceout-size-deal-message-line-height: 2rem;
  --bds-mosaic-faceout-size-deal-percent-border-radius: 0.4rem;
  --bds-mosaic-faceout-size-deal-percent-line-height: 2rem;
  --bds-mosaic-faceout-size-deal-percent-text: 1.5rem;
  --bds-mosaic-faceout-size-format-line-height: 2rem;
  --bds-mosaic-faceout-size-format-text: 1.5rem;
  --bds-mosaic-faceout-size-image-padding-bottom-small: 0rem;
  --bds-mosaic-faceout-size-image-padding-bottom-large: 0rem;
  --bds-mosaic-faceout-size-image-padding-left-small: 1.6rem;
  --bds-mosaic-faceout-size-image-padding-left-large: 3.2rem;
  --bds-mosaic-faceout-size-image-padding-right-small: 1.6rem;
  --bds-mosaic-faceout-size-image-padding-right-large: 3.2rem;
  --bds-mosaic-faceout-size-image-padding-top-small: 1.6rem;
  --bds-mosaic-faceout-size-image-padding-top-large: 1.6rem;
  --bds-mosaic-faceout-size-primary-metadata-height-minimum: 1.6rem;
  --bds-mosaic-faceout-size-secondary-metadata-item-spacing: 0.8rem;
  --bds-mosaic-faceout-size-secondary-metadata-padding-bottom: 0.8rem;
  --bds-mosaic-faceout-size-secondary-metadata-padding-left: 0.8rem;
  --bds-mosaic-faceout-size-secondary-metadata-padding-right: 0.8rem;
  --bds-mosaic-faceout-size-secondary-metadata-padding-top: 0.8rem;
}
