@import '@/styles/variables.module.scss';

#disclamer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: $px_margin_S;
  display: flex;
  justify-content: center;
  background: $sangria;
  font-size: 12px;
  text-align: justify;
  color: $dark_scarlet;
}
