@import '@/styles/new/variables.module.scss';

.text_block {
  /* width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; */

  h3 {
    margin-bottom: 20px;
  }

  p {
    text-align: justify;
  }
}
