@import '@/styles/variables.module.scss';

.skill_description {
  width: 40vw;
  text-align: justify;
  perspective: 900px;

  .skill_description_word {
    display: inline-block;
    opacity: 1;
    will-change: transform, opacity;
  }
}
