@import '@/styles/new/variables.module.scss';

#main_skills_container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: $breakpoint_XXS) {
  #main_skills_container {
    background-color: $responsive_XXXS;
  }
}

@media screen and (min-width: $breakpoint_XXS) {
  #main_skills_container {
    background-color: $responsive_XXS;
  }
}

@media screen and (min-width: $breakpoint_XS) {
  #main_skills_container {
    background-color: $responsive_XS;
  }
}

@media screen and (min-width: $breakpoint_S) {
  #main_skills_container {
    background-color: $responsive_S;
  }
}

@media screen and (min-width: $breakpoint_M) {
  #main_skills_container {
    padding: 0 $percent_margin_XS;
    flex-direction: row;
    justify-content: space-between;
    gap: $gap_L;
    background-color: $responsive_M;
  }
}

@media screen and (min-width: $breakpoint_L) {
  #main_skills_container {
    gap: $gap_XL;
    background-color: $responsive_L;
  }
}

@media screen and (min-width: $breakpoint_XL) {
  #main_skills_container {
    background-color: $responsive_XL;
  }
}

@media screen and (min-width: $breakpoint_XXL) {
  #main_skills_container {
    padding: 0 $percent_margin_M;
    gap: $gap_XL;
    background-color: $responsive_XXL;
  }
}

@media screen and (min-width: $breakpoint_XXXL) {
  #main_skills_container {
    background-color: $responsive_XXXL;
  }
}
