@import '@/styles/variables.module.scss';

#introduction_content {
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 30vh;

  #introduction_title {
    margin: $gap_XL;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    .introduction_title_lines {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      line-height: 7.5em;
      // line-height: 7.5rem;

      .introduction_title_blocks {
        opacity: 0;
        display: inline-block;
      }
    }

    #introduction_title_first_line {
      gap: 0;

      #hi_text {
        transform: translateY(100%);
      }

      #im_text {
        transform: translateX(-100%);
      }

      #federico_text {
        transform: translateX(-100%);
      }
    }

    #introduction_title_second_line {
      #a_text {
        transform: translateY(-100%);
      }

      #front_end_text {
        transform: translateY(-100%);
      }

      #developer_text {
        transform: translateY(-100%);
      }
    }
  }

  #home_introduction_container {
    width: 100%;
    margin-left: 55vw;
    display: flex;
    flex-direction: column;
    // align-items: end;
    align-items: start;
    gap: 50px;
    font-size: 1em;
    line-height: 1.5em;

    .introduction_line_wrapper {
      display: block;
      clip-path: polygon(0% 0%, 100% 0%, 100% 150%, 0% 150%);

      .introduction_line {
        opacity: 0;
        transform-origin: bottom left;
        transform: translateY(100%) rotateZ(3deg);
      }
    }

    .gradient-text {
      // background: linear-gradient(to right, #000, #000 100%);
      // -webkit-background-clip: text;
      // background-clip: text;

      // color: transparent;
      display: inline-block;
    }

    #learn_more_button {
      margin-top: 120px;
    }
  }
}
