@import '@/styles/variables.module.scss';

#introduction_content {
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 30vh;

  #hi_text {
    opacity: 0;
    transform: translateY(100%);
  }

  #im_text {
    opacity: 0;
    transform: translateY(100%);
  }

  #federico_text {
    opacity: 0;
    transform: translateY(100%);
  }

  #a_text {
    opacity: 0;
    transform: translateY(100%);
  }

  #front_end_text {
    opacity: 0;
    transform: translateY(100%);
  }

  #developer_text {
    opacity: 0;
    transform: translateY(100%);
  }

  .introduction_line_wrapper {
    display: block;
    clip-path: polygon(0% 0%, 100% 0%, 100% 150%, 0% 150%);

    .introduction_line {
      transform-origin: bottom left;
      transform: translateY(100%) rotateZ(1deg);
    }
  }

  .gradient-text {
    background: linear-gradient(to right, #000, #0000 25%);

    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
    display: inline-block;
  }
}
