@import '@/styles/variables.module.scss';

.contact_socials_canvas {
  z-index: 3;
  position: absolute;
  width: 800px !important;
  height: 500px !important;
  margin-top: 600px;
  margin-left: 50%;
  /* top: 700px;
  left: 400px; */
}

.footer_socials_canvas {
}
