@import '@/styles/new/variables.module.scss';

#dashboard {
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: $snake_game_margin_large $snake_game_margin_medium
    $snake_game_margin_small $snake_game_margin_medium;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-upheavtt);
  font-size: 35px;
  color: $black;

  #top_dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: $large_limit) {
  #dashboard {
    font-size: 50px;
    /* background-color: chocolate; */
  }
}

@media screen and (min-width: $larger_limit) {
  #dashboard {
    /* background-color: BlueViolet; */
  }
}

@media screen and (max-width: $desktop_limit) {
  #dashboard {
    padding: $snake_game_margin_medium $snake_game_margin_small;
    font-size: 30px;
    /* background-color: azure; */
  }
}

@media screen and (max-width: $small_limit) {
  #dashboard {
    font-size: 25px;
    /* background-color: DarkGreen; */
  }
}

@media screen and (max-width: $smaller_limit) {
  #dashboard {
    padding: $snake_game_margin_medium $snake_game_margin_smaller
      $snake_game_margin_smaller $snake_game_margin_smaller;
    /* background-color: crimson; */
  }
}
