@import '@/styles/variables.module.scss';

#locale_switcher_options {
  position: absolute;
  width: fit-content;
  margin-top: $gap_XS;

  .locale_option {
    padding: 10px;
    color: $white;
    background-color: $void_black;
  }

  .locale_option:first-child {
    border-radius: 15px 15px 0 0;
  }

  .locale_option:last-child {
    border-radius: 0 0 15px 15px;
  }
}
