@import '@/styles/variables.module.scss';

#contact_text_block_desktop {
  z-index: 2;
  position: absolute;
  width: 30vw;
  height: 100vh;
  left: 55%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: $gap_L;

  h3 {
    font-size: 30px;
    margin-bottom: $px_margin_XS;
  }

  #email_address {
    margin-bottom: $px_margin_XXS;
  }
}

#contact_text_block_mobile {
  z-index: 2;
  position: absolute;
  height: 100vh;
  padding: $px_margin_XS;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: $gap_M;

  h3 {
    font-size: 30px;
    margin-bottom: $px_margin_XS;
  }

  #social_icons_container {
    display: flex;
    flex-direction: row;
    gap: $gap_XS;

    .social_icon {
      width: 50px;
      height: 50px;
    }

    .social_icon:hover {
      cursor: pointer;
    }
  }

  .contact {
    text-decoration: none;
  }

  #email_address {
    margin-bottom: $px_margin_XXS;
  }
}
