@import '@/styles/variables.module.scss';

#personal_information {
  display: flex;

  .personal_information_column {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;

    #email_address {
      text-transform: lowercase;
    }
  }
}
