@import '@/styles/variables.module.scss';

header {
  position: fixed;
  width: 100vw;
  max-width: $app_max_width;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  background: transparent;
}
