@import '@/styles/variables.module.scss';

#skills_slice {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: $gap_M;

  .side_navigation_menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;

    .smn_title {
      margin-bottom: $px_margin_XL;
      font-size: 2em;
      font-weight: 900;
    }

    .ol_smn {
      display: flex;
      flex-direction: column;
      gap: $gap_XXS;
    }

    .li_smn {
      color: $void_black;
    }

    .li_smn:hover {
      color: $bright_lavender;
    }

    .li_smn_current {
      color: $bright_lavender;
    }

    .li_smn_to_read {
      opacity: 0.7;
    }

    .li_smn_to_read:hover {
      opacity: 1;
    }
  }

  #skills_snm_left {
    grid-column: 2 / 4;
    grid-row: 3 / 10;

    align-items: end;

    #ol_smn_left {
      align-items: end;
    }
  }

  #skills_content {
    grid-column: 4 / 9;
    grid-row: 3 / 10;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $gap_M;

    #introduction_section {
      grid-column: 0 / 0;

      #h1_skills_section {
        margin-bottom: $gap_S;
        font-size: 3.5em;
        font-weight: 900;
      }

      .p_skills_section_introduction {
        text-align: justify;
      }
    }

    #skill {
      grid-column: 1 / 1;

      width: 100%;
      display: flex;
      flex-direction: row;
      gap: $gap_M;

      #skills_logos_canvas {
        height: 100%;
        aspect-ratio: 1;
        background-color: $raisin_black;
        border-radius: 15px;
      }

      #skill_description_container {
        width: 100%;

        #skill_description {
          // font-size: 0.95em;
          text-align: justify;
        }
      }
    }
  }

  #skills_snm_right {
    grid-column: 9 / 11;
    grid-row: 3 / 10;

    align-items: start;
    // background-color: green;

    #ol_smn_right {
      align-items: start;
    }
  }
}
