#reviews_slice {
  width: 100vw;
  height: 100vh;
  background-color: purple;

  #reviews_container {

    #review_cards_wrapper {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
    }
  }
}
