@import '@/styles/variables.module.scss';

#external_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  color: $external_link;

  svg {
    margin-left: 5px;
  }
}
