@import '@/styles/variables.module.scss';

#move {
  // padding: 3vw 0;
  display: flex;
  color: $black;
  background: #e6fb54;

  .marque {
    // height: 60px;
    padding: 0 1.5vw;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    transform: translateX(-100%);

    h1 {
      font-size: 3.3vw;
    }

    .arrow_right {
    }
  }
}
