@import '@/styles/variables.module.scss';

#controls_snake_game_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 250px;

  span {
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
}
