@import '@/styles/variables.module.scss';

header {
  position: fixed;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
}
