@import '@/styles/variables.module.scss';

.internal_link {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: $text_light;
  font-size: $font_size_small;

  .internal_link_text {
    margin-right: 5px;
  }
}
