@import '@/styles/new/variables.module.scss';

#new_reviews_slice {
  width: 200vw;
  height: $reviews_slice_height_larger;

  .reviews_containers {
    height: $reviews_slice_height_larger;
    /* background-color: DarkSeaGreen; */
  }
}

@media screen and (min-width: $large_limit) {
  #new_reviews_slice {
    height: $reviews_slice_height_larger;

    .reviews_containers {
      height: $reviews_slice_height_larger;
      /* background-color: chocolate; */
    }
  }
}

@media screen and (min-width: $larger_limit) {
  #new_reviews_slice {
    height: $reviews_slice_height_larger;

    .reviews_containers {
      height: $reviews_slice_height_larger;
      /* background-color: BlueViolet; */
    }
  }
}

@media screen and (max-width: $desktop_limit) {
  #new_reviews_slice {
    .reviews_containers {
      /* background-color: azure; */
    }
  }
}

@media screen and (max-width: $small_limit) {
  #new_reviews_slice {
    height: $reviews_slice_height_medium;

    .reviews_containers {
      height: $reviews_slice_height_medium;

      /* background-color: DarkGreen */
    }
  }
}

@media screen and (max-width: $smaller_limit) {
  #new_reviews_slice {
    .reviews_containers {
      /* background-color: crimson; */
    }
  }
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

@media screen and (max-width: $breakpoint_XXS) {
  #new_reviews_slice {
    .reviews_containers {
    }
  }
}

@media screen and (min-width: $breakpoint_XXS) {
  #new_reviews_slice {
    .reviews_containers {
    }
  }
}

@media screen and (min-width: $breakpoint_XS) {
  #new_reviews_slice {
    .reviews_containers {
    }
  }
}

@media screen and (min-width: $breakpoint_S) {
  #new_reviews_slice {
    .reviews_containers {
    }
  }
}

@media screen and (min-width: $breakpoint_M) {
  #new_reviews_slice {
    .reviews_containers {
    }
  }
}

@media screen and (min-width: $breakpoint_L) {
  #new_reviews_slice {
    .reviews_containers {
    }
  }
}

@media screen and (min-width: $breakpoint_XL) {
  #new_reviews_slice {
    .reviews_containers {
    }
  }
}

@media screen and (min-width: $breakpoint_XXL) {
  #new_reviews_slice {
    .reviews_containers {
    }
  }
}

@media screen and (min-width: $breakpoint_XXXL) {
  #new_reviews_slice {
    .reviews_containers {
    }
  }
}
