@import '@/styles/new/variables.module.scss';

#new_reviews_slice {
  width: 200vw;
  height: 80vh;

  .reviews_containers {
    height: 80vh;
    /* background-color: DarkSeaGreen; */
  }
}

@media screen and (min-width: $large_limit) {
  #new_reviews_slice {
    
    .reviews_containers {
      /* background-color: chocolate; */
    }
  }
}

@media screen and (min-width: $larger_limit) {
  #new_reviews_slice {

    .reviews_containers {
      /* background-color: BlueViolet; */
    }
  }
}

@media screen and (max-width: $desktop_limit) {
  #new_reviews_slice {

    .reviews_containers {
      /* background-color: azure; */
    }
  }
}

@media screen and (max-width: $small_limit) {
  #new_reviews_slice {
    height: 100vh;

    .reviews_containers {
      height: 100vh;

      /* background-color: DarkGreen */;
    }
  }
}

@media screen and (max-width: $smaller_limit) {
  #new_reviews_slice {

    .reviews_containers {
      /* background-color: crimson; */
    }
  }
}
