@import '@/styles/variables.module.scss';

#scroll_icon {
  position: absolute;
  height: 3em;
  width: 1.8em;
  border: 0.18em solid $background_color;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 6.25em;
  border-radius: 3em;
  opacity: 0.8;
}

#scroll_icon::before {
  position: absolute;
  content: '';
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0.45em;
  height: 0.6em;
  width: 0.6em;
  background-color: $background_color;
  border-radius: 50%;
  animation: move_down 2s infinite;
}

@keyframes move_down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-1.3em);
    background-color: $circle_gradient_out;
    opacity: 0;
  }
}
