#skills_slice {
  width: 100vw;

  #skills_content {
    width: 100%;
    padding: 100px;

    .skills_block_container {
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      flex-direction: row;

      .skills_block_text {
        width: 45%;
        background-color: red;

        .skills_block_text_paragraph {
          text-align: justify;
        }
      }

      .skills_separator {
        width: 10%;
        background-color: green;
      }

      .skills_canvas_container {
        width: 45%;
        background-color: pink;
      }
    }
  }
}
