@import '@/styles/variables.module.scss';

#skills_slice {
  width: 100vw;

  #skills_content {
    width: 100%;
    padding: 100px;

    .skills_block_container {
      position: relative;
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      flex-direction: row;

      .skills_block_text {
        width: 45%;

        .skills_block_text_paragraph {
          text-align: justify;
        }
      }

      .skills_separator {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .timeline_start_container {
          position: absolute;
          height: 100%;
          display: flex;
          justify-content: center;

          .dot {
            z-index: 2;
            position: absolute;
            width: 20px;
            height: 20px;
            top: 50%;
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            background-color: $background_white;
            border-radius: 50%;
          }

          .line_start {
            z-index: 1;
            position: absolute;
            bottom: 0;
            width: 5px;
            height: 50%;
            /* -ms-transform: translateX(-50%);
            transform: translateX(-50%); */
            background-color: $background_white;
          }
        }
      }

      .skills_canvas_container {
        width: 45%;
      }
    }
  }
}
