@import '@/styles/variables.module.scss';

/* #contact_slice {
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-retro-gaming);
  font-size: 50px;
  background-color: $nokia_0;
} */
