@import '@/styles/new/variables.module.scss';

#real_time_3D_logos {
  height: auto;
}

@media screen and (max-width: $breakpoint_XXS) {
  #real_time_3D_logos {
    width: 90%;
    margin-bottom: $px_margin_S;
  }
}

@media screen and (min-width: $breakpoint_XXS) {
  #real_time_3D_logos {
    width: 80%;
    margin-bottom: $px_margin_S;
  }
}

@media screen and (min-width: $breakpoint_XS) {
  #real_time_3D_logos {
    width: 80%;
    margin-bottom: $px_margin_S;
  }
}

@media screen and (min-width: $breakpoint_S) {
  #real_time_3D_logos {
    width: 80%;
    margin-bottom: $px_margin_S;
  }
}

@media screen and (min-width: $breakpoint_M) {
  #real_time_3D_logos {
    width: 70%;
    margin-bottom: $px_margin_M;
  }
}

@media screen and (min-width: $breakpoint_L) {
  #real_time_3D_logos {
  }
}

@media screen and (min-width: $breakpoint_XL) {
  #real_time_3D_logos {
    width: 60%;
    margin-bottom: $px_margin_L;
  }
}

@media screen and (min-width: $breakpoint_XXL) {
  #real_time_3D_logos {
  }
}

@media screen and (min-width: $breakpoint_XXXL) {
  #real_time_3D_logos {
  }
}
