#last_reviews_cards_wrapper {
  width: 100vw;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  /* opacity: 50%; */
  justify-content: space-between;

  .review_container {
    width: 1000px;
    height: 1000px;
  }
}
