header {
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: fit-content;
  // height: 10%;
  // max-height: 100px;
  display: flex;
  justify-content: space-between;
  // background: transparent;
  background-color: red;
}