@import '@/styles/variables.module.scss';

#menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: $gap_XS;

  #menu_content {
    perspective: 1000px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: $gap_XS;
  }
}
