@import '@/styles/variables.module.scss';

#real_time_3D {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: $breakpoint_XXXS) {
  #real_time_3D {
    margin-top: 50px;
  }
}

@media screen and (min-width: $breakpoint_XXXS) {
  #real_time_3D {
    margin-top: 50px;
  }
}

@media screen and (min-width: $breakpoint_XXS) {
  #real_time_3D {
    margin-top: 200px;
  }
}

@media screen and (min-width: $breakpoint_XS) {
  #real_time_3D {
    margin-top: 250px;
  }
}

@media screen and (min-width: $breakpoint_S) {
  #real_time_3D {
    margin-top: 350px;
  }
}

@media screen and (min-width: $breakpoint_M) {
  #real_time_3D {
    margin-top: 0;
  }
}

@media screen and (min-width: $breakpoint_L) {
  #real_time_3D {
  }
}

@media screen and (min-width: $breakpoint_XL) {
  #real_time_3D {
  }
}

@media screen and (min-width: $breakpoint_XXL) {
  #real_time_3D {
  }
}

@media screen and (min-width: $breakpoint_XXXL) {
  #real_time_3D {
  }
}
