@import '@/styles/variables.module.scss';

#text_block_animation_nine {
  transform-style: preserve-3d;
  perspective: 900px;

  .word {
    will-change: transform, opacity;
    display: inline-block;
  }
}
