@import '@/styles/variables.module.scss';

#what_are_my_skills {
  font-size: 10rem;
  line-height: 100%;
  text-transform: uppercase;
  color: #ff130a;

  #what {
    color: #fff0;
    -webkit-text-stroke: 3px #ff130a;
  }

  #are_my {
    margin-top: -30px;
  }

  #skills {
    margin-top: -30px;
  }
}
