@import '@/styles/variables.module.scss';

#what_are_my_skills {
  font-size: 10rem;
  line-height: 100%;
  text-transform: uppercase;
  color: #ff130a;
  -webkit-text-stroke: 3px #ff130a;
  transform: rotateX(0deg) skew(0deg);

  #what {
    color: #fff0;
    -webkit-text-stroke: 3px #ff130a;
  }
}
