@import '@/styles/variables.module.scss';

#home_slice {
  /* position: fixed; */
  width: 100vw;
  height: 100vh;
  /* background-color: #fd02d1; */

  .box_test {
    width: 300px;
    height: 300px;
    background: red;
  }

  canvas {
    position: fixed;
  }
}
