@import '@/styles/new/variables.module.scss';

#toggle_button_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  #toggle_button_label {
    margin-bottom: $px_margin_XXS;
    font-size: 12px;
  }

  #toggle_button {
    position: relative;
    width: $toogle_button_width;
    height: $toogle_button_height;
    margin-bottom: $px_margin_S;

    input[type='checkbox'] {
      display: none;
    }

    input[type='checkbox']:checked + #label_toggle_button::after {
      translate: calc($toogle_button_width / 2) 0;
    }

    input[type='checkbox']:checked + #label_toggle_button {
      background-color: rgba(55, 174, 71, 1);
    }

    #label_toggle_button {
      position: absolute;
      width: $toogle_button_width;
      height: $toogle_button_height;
      background-color: rgba(200, 200, 200, 1);
      border-radius: calc($toogle_button_height / 2);
      transition: $transition_M ease;
      cursor: pointer;
    }

    #label_toggle_button::after {
      position: absolute;
      content: '';
      background-color: $white;
      width: calc($toogle_button_height - $toogle_button_padding * 2);
      height: calc($toogle_button_height - $toogle_button_padding * 2);
      border-radius: 50%;
      top: $toogle_button_padding;
      left: $toogle_button_padding;
      transition: $transition_M ease;
    }
  }
}