@import '@/styles/variables.module.scss';

#add_review_container {
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translateX(-100vw);
  transition: $transition_M transform ease-in-out;
}

#add_review_container.open {
  transform: initial;
}
