@import '@/styles/new/variables.module.scss';

.formik_field_container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;

  input[type='text'],
  input[type='password'] {
    all: unset;
    margin: 8px 0;
    padding: 12px 20px;
    border: $input_border_dark;
    border-radius: 5px;
    background-color: $input_background;
  }

  input[type='text'].error,
  input[type='password'].error {
    border: $input_border_alert;
  }
}

@media screen and (max-width: $desktop_limit) {
  .formik_field_container {
  
    input[type='text'],
    input[type='password'] {
      height: 40px;
    }
  }
}
