@import '@/styles/variables.module.scss';

.skills_paragraph {
  width: 100%;
  padding-top: 85px;
  margin-bottom: calc(-85px + 40px);

  .sp_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: $px_margin_L;

    .sp_canvas_container {
      width: 120px !important;
      height: 120px !important;
      // aspect-ratio: 1;
    }

    .sp_description {
      text-align: justify;
    }
  }
}
