@import '@/styles/variables.module.scss';

.player_page {
  width: 100vw;
  height: 100vh;

  #player_page_canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  
}