@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.introduction_card {
  --clr-1: #0b0327;
  --clr-2: #291c5b;
  --clr-3: #423576;
  --clr-4: #592e73;
  --clr-5: #314872;

  --color-bg1: #0b0831;
  --color-bg2: #150d75;

  width: 300px;
  height: 400px;
  /* background: var(--clr-1); */
  background: -webkit-linear-gradient(45deg, var(--clr-1), var(--clr-2));
  border-radius: 2rem;

  position: relative;
  overflow: visible;

  .introduction_card_canvas_container {
    margin: -50px;
    width: 400px;
    height: 500px;
  }
}

/* .introduction_card::before, .introduction_card::after {
  content: "";
  position: absolute;
  inset: -0.1rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-1),
    var(--clr-2),
    var(--clr-3),
    var(--clr-4),
    var(--clr-1),
  );
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}

.introduction_card::after {
  filter: blur(0.5rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
} */
