@import '@/styles/variables.module.scss';

.introduction_cards_container {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .introduction_card_canvas_container {
    position: relative;
    width: 30vw;
    height: 30vw;
    margin: 0 -35px;

    div div {
      pointer-events: none;
    }
  }
}
