#current_date_container {
  position: absolute;
  width: 30%;
  height: 100%;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* font-family: 'HelveticaNeue-Black'; */
  font-weight: bold;

  #day_of_the_week {
    font-size: 35px;
  }

  #month {
    font-size: 70px;
  }

  #day_number {
    font-size: 35px;
  }

  #arrow_and_year_container {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    #arrow_left_icon {
      font-size: 60px;
    }

    #year {
      font-size: 70px;
    }
  }
}
