#introduction_slice {
  width: 100vw;
  height: 100vh;
  background-color: aqua;

  #introduction_content {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    #cards_container {
      position: relative;
      width: 100%;
      padding: 0 25% 0 25%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;

      .card {
        width: 200px !important;
        height: 200px !important;
        margin: 10px;
        /* flex: 0 1 24%; */
        background-color: red;
        border: solid;
      }
    }
  }
}
