@import '@/styles/variables.module.scss';

// :root, *, BODY

:root {
  --max-width: $app_max_width;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background: $anti_flash_white;
  color: $black;
  overflow-x: hidden;
  user-select: none;
}

// LENIS

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

// Z-INDEXES

.header_zIndex {
  z-index: 10;
}

.header_buttons_content_zIndex {
  z-index: 9;
}

// LAYOUT

/* h1 {
  font-size: 80px;
} */

// PARAGRAPHS

.parapgraph {
  margin-bottom: 20px;
}

// LINKS

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

// LISTS

li {
  list-style-type: none;
}

// BUTTONS

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

// ANIMATION

.text_revealed {
  display: inline-block;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
