@import './variables.module.scss';

:root {
  --max-width: 1100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $background_dark;
}

body {
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.gradient_text {
  font-weight: 900;
  background: -webkit-linear-gradient(
    50deg,
    $gradient_text_rgba_0percent 0%,
    $gradient_text_rgba_50percent 50%,
    $gradient_text_rgba_100percent 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.word,
.word_active {
  display: inline-block;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
