@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.module.scss';

// :root, *, BODY

:root {
  --max-width: $app_max_width;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  width: 100vw;
  overflow-x: hidden;
  height: 100%;
  // background: #000;
  user-select: none;
}

// LENIS

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

canvas {
  touch-action: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

// FULLSCREEN

.fullscreen {
  width: 100vw;
  height: 100vh;
}

// CENTER CONTENT

.center_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Z-INDEXES

.preloader_zIndex {
  z-index: 40;
}

.cursor_zIndex {
  z-index: 30;
}

.menu_overlay_zIndex {
  z-index: 21;
}

.menu_container_zIndex {
  z-index: 20;
}

.header_zIndex {
  z-index: 10;
}

.animation_pause_button_zIndex {
  z-index: 9;
}

// INVERT COLOR

.invert_color {
  opacity: 0.6;
  -webkit-backdrop-filter: invert(80%);
  backdrop-filter: invert(80%);
}

.hue_rotate {
  opacity: 0.6;
  -webkit-backdrop-filter: hue-rotate(90deg);
  backdrop-filter: hue-rotate(90deg);
}

// BLURED BACKGROUND

.blured_background {
  // color: #0007;
  background: rgba(0, 0, 0, 0.8);
  /* opacity: 0.8; */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
