$black: #000;
$black_op30: #00000030;

$grey_f2f2f2: #f2f2f2;
$grey_333: #333;

$white: #fff;
$white_op80: #ffffff80;

:export {
  black: $black;
  black_op30: $black_op30;
  grey_f2f2f2: $grey_f2f2f2;
  grey_333: $grey_333;
  white: $white;
  white_op80: $white_op80;
}
