$black: #000;
$white: #fff;

$background_color: #2c2c2c;
$background_black: #000;

$text_light: #fff;
$text_medium_light: #bfbfbf;
$text_medium_dark: #4f4f4f;
$text_dark: #000;

$card_background_gradient_light: #29272a;
$card_background_gradient_dark: #000;

$scrollbar_thumb_color: #bfbfbf50;

$circle_gradient_in: #ef32d9;
$circle_gradient_out: #89fffd;

$font_size_small: 1em;
$font_size_medium: 1.5em;
$font_size_large: 2em;
$font_size_extra_large: 6em;

$phi: calc((1 + sqrt(5)) / 2);

$black_op30: #00000030;

$grey_f2f2f2: #f2f2f2;
$grey_ededed: #ededed;
$grey_ccc: #ccc;
$grey_333: #333;

$white_op80: #ffffff80;

$color-bg1: #01000f;
$color-bg2: #160b3f;

$color1_opbb: #0b0327bb;
$color1_op00: #0b032700;
$color2_opbb: #291c5bbb;
$color2_op00: #291c5b00;
$color3_opbb: #423576bb;
$color3_op00: #42357600;
$color4_opbb: #592e73bb;
$color4_op00: #592e7300;
$color5_opbb: #314872bb;
$color5_op00: #31487200;
$color_interactive_opbb: #1a3057bb;
$color_interactive_op00: #1a305700;
$color-interactive: 26, 48, 87;
$background_bubble_size: 60%;
$background_bubble_blending: normal;

$gradient_text_rgba_0percent: rgba(129, 85, 219, 1);
$gradient_text_rgba_50percent: rgba(99, 146, 231, 1);
$gradient_text_rgba_100percent: rgba(4, 151, 202, 1);

$background_dark: #01000f;

:export {
  black: $black;
  white: $white;

  background_color: $background_color;

  text_light: $text_light;
  text_medium_light: $text_medium_light;
  text_medium_dark: $text_medium_dark;
  text_dark: $text_dark;

  scrollbar_thumb_color: $scrollbar_thumb_color;

  circle_gradient_in: $circle_gradient_in;
  circle_gradient_out: $circle_gradient_out;

  font_size_small: $font_size_small;
  font_size_medium: $font_size_medium;
  font_size_large: $font_size_large;

  phi: $phi;

  black_op30: $black_op30;
  grey_f2f2f2: $grey_f2f2f2;
  grey_ededed: $grey_ededed;
  grey_ccc: $grey_ccc;
  grey_333: $grey_333;
  white_op80: $white_op80;

  color-bg1: $color-bg1;
  color-bg2: $color-bg2;
  color1_opbb: $color1_opbb;
  color1_op00: $color1_op00;
  color2_opbb: $color2_opbb;
  color2_op00: $color2_op00;
  color3_opbb: $color3_opbb;
  color3_op00: $color3_op00;
  color4_opbb: $color4_opbb;
  color4_op00: $color4_op00;
  color5_opbb: $color5_opbb;
  color5_op00: $color5_op00;
  color_interactive_opbb: $color_interactive_opbb;
  color_interactive_op00: $color_interactive_op00;
  color-interactive: $color-interactive;
  background_bubble_size: $background_bubble_size;
  background_bubble_blending: $background_bubble_blending;

  gradient_text_rgba_0percent: $gradient_text_rgba_0percent;
  gradient_text_rgba_50percent: $gradient_text_rgba_50percent;
  gradient_text_rgba_100percent: $gradient_text_rgba_100percent;

  background_dark: $background_dark;
}
