@import '@/styles/variables.module.scss';

.page_content {
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.page_content::-webkit-scrollbar {
  display: none;
}
