.companie_or_school_card {
  position: absolute;
  left: 65%;
  bottom: 5%;
}

.not_intersecting_company_or_school {
  opacity: 0;
  transform: translate(50px, 0px);
}

.intersecting_company_or_school {
  opacity: 1;
  transition-delay: 0.5s;
  transform: translate(0px, 0px);
}

@media screen and (min-width: 1650px) {
  .companie_or_school_card {
    left: 1050px;
  }
}
