@import './variables.module.scss';

.centered_text_block {
  padding: 0 $percent_margin_M 0 $percent_margin_M;
}

@media screen and (max-width: $breakpoint_XXS) {
  .centered_text_block {
    padding: 0 $percent_margin_XXS 0 $percent_margin_XXS;
  }
}

@media screen and (min-width: $breakpoint_XXS) {
  .centered_text_block {
    padding: 0 $percent_margin_XS 0 $percent_margin_XS;
  }
}

@media screen and (min-width: $breakpoint_XS) {
  .centered_text_block {
    padding: 0 $percent_margin_S 0 $percent_margin_S;
  }
}

@media screen and (min-width: $breakpoint_S) {
  .centered_text_block {
    padding: 0 $percent_margin_L 0 $percent_margin_L;
  }
}

@media screen and (min-width: $breakpoint_M) {
  .centered_text_block {
  }
}

@media screen and (min-width: $breakpoint_L) {
  .centered_text_block {
    padding: 0 $percent_margin_XL 0 $percent_margin_XL;
  }
}

@media screen and (min-width: $breakpoint_XL) {
  .centered_text_block {
    padding: 0 $percent_margin_XXL 0 $percent_margin_XXL;
  }
}

@media screen and (min-width: $breakpoint_XXL) {
  .centered_text_block {
  }
}

@media screen and (min-width: $breakpoint_XXXL) {
  .centered_text_block {
  }
}