// GREY GRADIENT

$white: #ffffff;
$grey_lighter: #d8d8d8;
$grey_light: #a8a8a8;
$grey_medium: #7b7b7b;
$grey_dark: #515151;
$grey_darker: #292929;
$black: #000000;

$success_light_color: #37ae47;
$success_dark_color: #0a7a18;
$alert_light_color: #ec2a5f;
$alert_dark_color: #b20030;

// TEXTS

$text_alert: $alert_light_color;

// INPUTS

$input_height_small: 400px;

$input_background: #00000080;
$input_radio_checked_color: #bfbfbf;
$input_border_light: 1px solid $grey_medium;
$input_border_dark: 1px solid $black;
$input_radio_border: 1px solid #bfbfbf;

$input_border_alert: 1px solid $alert_light_color;

// BACKGROUND-COLOR

$background_color: #151416;
$blured_background_color: rgba(21, 20, 22, 0.7);
$success_background: $success_light_color;
$alert_background: $alert_light_color;

// SHADOWS

$success_box_shadow: rgba(55, 174, 71, 0.25) 0px 25px 50px -12px;
$alert_box_shadow: rgba(246, 42, 95, 0.25) 0px 25px 50px -12px;

// BREAK POINTS

$breakpoint_XXXL: 2560px;
$breakpoint_XXL: 1920px;
$breakpoint_XL: 1600px;
$breakpoint_L: 1440px;
$breakpoint_M: 1280px;
$breakpoint_S: 810px;
$breakpoint_XS: 400px;
$breakpoint_XXS: 360px;

$app_max_width: $breakpoint_XXXL;

// SIZES

$font_size_alert: 0.8em;

$smaller_limit: 600px;
$small_limit: 800px;
$desktop_limit: 1200px;
$large_limit: 1600px;
$larger_limit: 2000px;

// MARGINS

$percent_margin_XXXL: 45%;
$percent_margin_XXL: 35%;
$percent_margin_XL: 35%;
$percent_margin_L: 25%;
$percent_margin_M: 20%;
$percent_margin_S: 15%;
$percent_margin_XS: 10%;
$percent_margin_XXS: 5%;

$px_margin_XXS: 10px;
$px_margin_XS: 25px;
$px_margin_S: 50px;
$px_margin_M: 100px;
$px_margin_L: 150px;
$px_margin_XL: 200px;

$top_bottom_margin_smaller: 25px;
$top_bottom_margin_small: 50px;
$top_bottom_margin_medium: 100px;
$top_bottom_margin_large: 200px;

$left_right_margin_smaller: 50px;
$left_right_margin_small: 100px;
$left_right_margin_medium: 200px;

// GAPS

$gap_XXL: 200px;
$gap_XL: 100px;
$gap_L: 50px;
$gap_M: 30px;
$gap_S: 20px;
$gap_XS: 10px;
$gap_XXS: 5px;

$gap_medium: 30px;

// EFFECTS

$blur: 3px;

// TRANSITIONS

$transition: 0.3s;
$hover_transition: 0.2s;

// REVIEWS

$reviews_slice_height_larger: 80vh;
$reviews_slice_height_large: 90vh;
$reviews_slice_height_medium: 100vh;
$reviews_slice_height_small: 110vh;
$reviews_slice_height_smaller: 120vh;

// SNAKE GAME

$snake_game_margin_smaller: 25px;
$snake_game_margin_small: 50px;
$snake_game_margin_medium: 100px;
$snake_game_margin_large: 150px;
$snake_game_margin_larger: 200px;

$nokia_0: #a8df02;
$nokia_1: #b3bb00;
$nokia_2: #b39900;
$nokia_3: #aa7a15;
$nokia_4: #995d21;
$nokia_5: #814527;
$nokia_6: #653227;
$nokia_7: #462222;
$nokia_8: #261517;

$gameboy_lighter: #c9db9f;
$gameboy_light: #9bbc0f;
$gameboy_medium: #8bac0d;
$gameboy_dark: #306230;
$gameboy_darker: #0f3810;

$snake_game_background: $nokia_0;
$snake_game_snake_cell: $nokia_3;
$snake_game_grid: $nokia_1;

// RESPONSIVE

$responsive_XXXL: #4cc9f0;
$responsive_XXL: #4895ef;
$responsive_XL: #4361ee;
$responsive_L: #3f37c9;
$responsive_M: gold;
$responsive_S: #480ca8;
$responsive_XS: #7209b7;
$responsive_XXS: #b5179e;
$responsive_XXXS: #f72585;

:export {
  background_color: $background_color;
  blured_background_color: $blured_background_color;

  white: $white;
  grey_lighter: $grey_lighter;
  grey_light: $grey_light;
  grey_medium: $grey_medium;
  grey_dark: $grey_dark;
  grey_darker: $grey_darker;
  black: $black;

  input_background: $input_background;
  input_radio_checked_color: $input_radio_checked_color;
  input_border_light: $input_border_light;
  input_border_dark: $input_border_dark;
  input_radio_border: $input_radio_border;

  // BREAK POINTS

  breakpoint_XXXL: $breakpoint_XXXL;
  breakpoint_XXL: $breakpoint_XXL;
  breakpoint_XL: $breakpoint_XL;
  breakpoint_L: $breakpoint_L;
  breakpoint_M: $breakpoint_M;
  breakpoint_S: $breakpoint_S;
  breakpoint_XS: $breakpoint_XS;
  breakpoint_XXS: $breakpoint_XXS;

  // SIZES

  smaller_limit: $smaller_limit;
  small_limit: $small_limit;
  desktop_limit: $desktop_limit;
  large_limit: $large_limit;
  larger_limit: $larger_limit;

  // MARGINS

  percent_margin_XXXL: $percent_margin_XXXL;
  percent_margin_XXL: $percent_margin_XXL;
  percent_margin_XL: $percent_margin_XL;
  percent_margin_L: $percent_margin_L;
  percent_margin_M: $percent_margin_M;
  percent_margin_S: $percent_margin_S;
  percent_margin_XS: $percent_margin_XS;
  percent_margin_XXS: $percent_margin_XXS;

  px_margin_XXS: $px_margin_XXS;
  px_margin_XS: $px_margin_XS;
  px_margin_S: $px_margin_S;
  px_margin_M: $px_margin_M;
  px_margin_L: $px_margin_L;

  top_bottom_margin_smaller: $top_bottom_margin_smaller;
  top_bottom_margin_small: $top_bottom_margin_small;
  top_bottom_margin_medium: $top_bottom_margin_medium;
  top_bottom_margin_large: $top_bottom_margin_large;

  left_right_margin_smaller: $left_right_margin_smaller;
  left_right_margin_small: $left_right_margin_small;
  left_right_margin_medium: $left_right_margin_medium;

  // GAPS

  gap_XXL: $gap_XXL;
  gap_XL: $gap_XL;
  gap_L: $gap_L;
  gap_M: $gap_M;
  gap_S: $gap_S;
  gap_XS: $gap_XS;
  gap_XXS: $gap_XXS;

  gap_medium: $gap_medium;

  // EFFECTS

  blur: $blur;

  transition: $transition;
  hover_transition: $hover_transition;

  // SNAKE GAME

  snake_game_margin_smaller: $snake_game_margin_smaller;
  snake_game_margin_small: $snake_game_margin_small;
  snake_game_margin_medium: $snake_game_margin_medium;
  snake_game_margin_large: $snake_game_margin_large;
  snake_game_margin_larger: $snake_game_margin_larger;

  nokia_0: $nokia_0;
  nokia_1: $nokia_1;
  nokia_2: $nokia_2;
  nokia_3: $nokia_3;
  nokia_4: $nokia_4;
  nokia_5: $nokia_5;
  nokia_6: $nokia_6;
  nokia_7: $nokia_7;
  nokia_8: $nokia_8;

  gameboy_lighter: $gameboy_lighter;
  gameboy_light: $gameboy_light;
  gameboy_medium: $gameboy_medium;
  gameboy_dark: $gameboy_dark;
  gameboy_darker: $gameboy_darker;

  snake_game_background: $snake_game_background;
  snake_game_grid: $snake_game_grid;
  snake_game_snake_cell: $snake_game_snake_cell;
}
