// GREY GRADIENT

$white: #ffffff;
$grey_lighter: #d8d8d8;
$grey_light: #a8a8a8;
$grey_medium: #7b7b7b;
$grey_dark: #515151;
$grey_darker: #292929;
$black: #000000;

$success_light_color: #37ae47;
$success_dark_color: #0a7a18;
$alert_light_color: #ec2a5f;
$alert_dark_color: #b20030;

// GAMEBOY

$gameboy_lighter: #c9db9f;
$gameboy_light: #9bbc0f;
$gameboy_medium: #8bac0d;
$gameboy_dark: #306230;
$gameboy_darker: #0f3810;

// TEXTS

$text_alert: $alert_light_color;

// INPUTS

$input_height_small: 400px;

$input_background: #00000080;
$input_radio_checked_color: #bfbfbf;
$input_border_light: 1px solid $grey_medium;
$input_border_dark: 1px solid $black;
$input_radio_border: 1px solid #bfbfbf;

$input_border_alert: 1px solid $alert_light_color;

// BACKGROUND-COLOR

$background_color: #151416;
$blured_background_color: rgba(21, 20, 22, 0.7);
$success_background: $success_light_color;
$alert_background: $alert_light_color;

// SHADOWS

$success_box_shadow: rgba(55, 174, 71, 0.25) 0px 25px 50px -12px;
$alert_box_shadow: rgba(246, 42, 95, 0.25) 0px 25px 50px -12px;

// SIZES

$font_size_alert: 0.8em;

$smaller_limit: 600px;
$small_limit: 800px;
$desktop_limit: 1200px;
$large_limit: 1600px;
$larger_limit: 2000px;

// MARGINS

$top_bottom_margin_smaller: 25px;
$top_bottom_margin_small: 50px;
$top_bottom_margin_medium: 100px;

$left_right_margin_smaller: 50px;
$left_right_margin_small: 100px;
$left_right_margin_medium: 200px;

// GAPS

$gap_medium: 30px;

// EFFECTS

$blur: 3px;

// TRANSITIONS

$transition: 0.3s;
$hover_transition: 0.2s;

// REVIEWS

$reviews_slice_height_larger: 80vh;
$reviews_slice_height_large: 90vh;
$reviews_slice_height_medium: 100vh;
$reviews_slice_height_small: 110vh;
$reviews_slice_height_smaller: 120vh;

:export {
  background_color: $background_color;
  blured_background_color: $blured_background_color;

  white: $white;
  grey_lighter: $grey_lighter;
  grey_light: $grey_light;
  grey_medium: $grey_medium;
  grey_dark: $grey_dark;
  grey_darker: $grey_darker;
  black: $black;

  gameboy_lighter: $gameboy_lighter;
  gameboy_light: $gameboy_light;
  gameboy_medium: $gameboy_medium;
  gameboy_dark: $gameboy_dark;
  gameboy_darker: $gameboy_darker;

  input_background: $input_background;
  input_radio_checked_color: $input_radio_checked_color;
  input_border_light: $input_border_light;
  input_border_dark: $input_border_dark;
  input_radio_border: $input_radio_border;

  smaller_limit: $smaller_limit;
  small_limit: $small_limit;
  desktop_limit: $desktop_limit;
  large_limit: $large_limit;
  larger_limit: $larger_limit;

  top_bottom_margin_smaller: $top_bottom_margin_smaller;
  top_bottom_margin_small: $top_bottom_margin_small;
  top_bottom_margin_medium: $top_bottom_margin_medium;

  left_right_margin_smaller: $left_right_margin_smaller;
  left_right_margin_small: $left_right_margin_small;
  left_right_margin_medium: $left_right_margin_medium;

  gap_medium: $gap_medium;

  blur: $blur;

  transition: $transition;
  hover_transition: $hover_transition;
}
