@import '@/styles/variables.module.scss';

#routes {
  .route {
    width: max-content;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

    .routes_wrapper {
      position: relative;

      .route_link {
        font-size: 90px;
        font-weight: 400;
        letter-spacing: -0.02em;
        line-height: 85%;
        color: #f4ecff;
      }
    }
  }
}
