#review_card {
  width: 300px;
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;

  .quote_up {
    font-size: 40px;
  }

  .review {
    text-align: justify;
  }

  .quote_down {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
  }

  .rating_stars_container {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }

  .name_role_container {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    
    .name {
    }
  
    .role {
    }
  }
}
