@import '@/styles/variables.module.scss';

#morph_video_container {
  position: relative;
  // padding-top: 60vh;
  width: 100vw;
  height: 100vw;
  display: flex;
  // align-items: center;
  // background-color: red;
}
