@import '@/styles/variables.module.scss';

#resources_canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

/* #resource_page {
  // pointer-events: none;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: row;

  #resources_menu {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
} */

#resource_page {
  position: absolute;
  max-width: $max_width;
  // margin: auto;
  // pointer-events: none;
  // position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  font-size: 14px;
  overflow: hidden;
}
