@import '@/styles/variables.module.scss';

#displacement_keys {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap_XS;

  #left_down_right_keys {
    display: flex;
    flex-direction: row;
    gap: $gap_XS;
  }
}
