@import '@/styles/variables.module.scss';

#play_snake_game_button_container {
  #play_snake_game_button {
    all: unset;
    padding: 20px 40px;
    border: 10px solid $gameboy_medium;
    cursor: pointer;
  }
}
