@import '@/styles/new/variables.module.scss';

button[type='reset'] {
  all: unset;
  width: 40%;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  color: $alert_dark_color;
  background-color: $alert_background;
  cursor: pointer;
}

button[type='reset']:hover {
  color: $white;
}