@import '@/styles/new/variables.module.scss';

#performed_with_slice {
  width: 100%;
  display: flex;
  flex-direction: column;

  canvas {
    height: 80vh !important;
  }
}

@media screen and (max-width: $breakpoint_XXS) {
  #performed_with_slice {
    padding-bottom: $px_margin_S;
    gap: $px_margin_XS;

    canvas {
    }
  }
}

@media screen and (min-width: $breakpoint_XXS) {
  #performed_with_slice {
    padding-bottom: $px_margin_M;
    gap: $px_margin_S;

    canvas {
    }
  }
}

@media screen and (min-width: $breakpoint_XS) {
  #performed_with_slice {
    padding-bottom: $px_margin_M;
    gap: $px_margin_S;

    canvas {
    }
  }
}

@media screen and (min-width: $breakpoint_S) {
  #performed_with_slice {
    padding-bottom: $px_margin_M;
    gap: $px_margin_S;

    canvas {
    }
  }
}

@media screen and (min-width: $breakpoint_M) {
  #performed_with_slice {
    flex-direction: row;
    gap: 0;

    canvas {
      width: 60%;
    }
  }
}

@media screen and (min-width: $breakpoint_L) {
  #performed_with_slice {
    canvas {
    }
  }
}

@media screen and (min-width: $breakpoint_XL) {
  #performed_with_slice {
    canvas {
    }
  }
}

@media screen and (min-width: $breakpoint_XXL) {
  #performed_with_slice {
    canvas {
      width: 50%;
    }
  }
}

@media screen and (min-width: $breakpoint_XXXL) {
  #performed_with_slice {
    canvas {
    }
  }
}
