@import '@/styles/variables.module.scss';

#performed_with_slice {
  z-index: 1;
  position: relative;
  height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  background-color: $background_black;

  #performed_with_text_block {
    /* position: relative; */
    width: 30vw;
    padding-left: 100px;
  }

  #perform_with_canvas_container {
    /* position: absolute; */
    width: 70vw;
    height: 100vh;
  }
}
