@import '@/styles/new/variables.module.scss';

#review_cards {
  width: 90vw;
  /* height: 60%; */
  padding: 50px 0 50px 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 40%;
  gap: $gap_medium;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.snap_inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 30px;
}

.snap_inline > * {
  scroll-snap-align: start;
}

@media screen and (max-width: $breakpoint_XXS) {
  #review_cards {
    width: 100vw;
    grid-auto-columns: 80%;
  }
}

@media screen and (min-width: $breakpoint_XXS) {
  #review_cards {
    width: 100vw;
    grid-auto-columns: 80%;
  }
}

@media screen and (min-width: $breakpoint_XS) {
  #review_cards {
  }
}

@media screen and (min-width: $breakpoint_S) {
  #review_cards {
  }
}

@media screen and (min-width: $breakpoint_M) {
  #review_cards {
    width: 100vw;
    grid-auto-columns: 55%;
  }
}

@media screen and (min-width: $breakpoint_L) {
  #review_cards {
    grid-auto-columns: 30%;
  }
}

@media screen and (min-width: $breakpoint_XL) {
  #review_cards {
    grid-auto-columns: 35%;
  }
}

@media screen and (min-width: $breakpoint_XXL) {
  #review_cards {
  }
}

@media screen and (min-width: $breakpoint_XXXL) {
  #review_cards {
  }
}

