@import '@/styles/variables.module.scss';

#main_logo_moco,
#logo_moco {
  margin-top: $px_margin_XXS;
  margin-left: $px_margin_XXS;
  opacity: 1;
}

.logo_moco_large {
  width: 150px;
  height: 112.5px;
}

.logo_moco_small {
  width: 80px;
  height: 60px;
}
