@import '@/styles/new/variables.module.scss';

#desktop_instructions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  #instructions_title {
    margin-bottom: $px_margin_XS;
  }
}

#mobile_instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap_XS;
}

#render_mode_instructions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: $px_margin_XXS;
}
