@import '@/styles/variables.module.scss';

p {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;

  #rotate_3D_icon {
    margin: 0 $gap_XS 0 $gap_XS;
  }
}

#displacement_mobile_instructions {
  color: $alert_light_color;
}
