@import '@/styles/new/variables.module.scss';

#device_motion_permission_modal {
  z-index: 6;
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: $px_margin_XS;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap_M;
  background-color: $black;

  #this_app_requires_access {
    font-size: 12px;
    text-align: justify;
  }

  #grant_permission_button {
    all: unset;
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: $white;
    background-color: $success_background;
    cursor: pointer;
  }
}
