@import '@/styles/variables.module.scss';

#contact_page {
  width: 100vw;
  height: 100vh;
  // background: #c8bdb0ff;

  #contact_container {
    z-index: 1;
    position: fixed;
    left: 5vw;
    pointer-events: none;
    height: 100%;
    display: flex;
    align-items: center;

    #contact_section {
      margin: 0 !important;
      padding: 0 !important;

      #contact_content {
        width: 30vw;
        padding: $px_margin_S $px_margin_L $px_margin_L $px_margin_L;
        background: rgba(64, 64, 64, 0.3);
        -webkit-backdrop-filter: blur(7px);
        backdrop-filter: blur(7px);
        border-top: 1pt solid #ffffff33;
        border-radius: 0 0 15px 15px;
        text-align: justify;

        .contact_page_introduction_text {
          p {
            margin-bottom: $px_margin_M;
          }
        }

        #contact {
          margin-bottom: $px_margin_M;
        }

        .contact_details {
          display: flex;
          flex-direction: row;
          gap: $px_margin_S;
          align-items: center;
        }
      }
    }
  }
}
