@import '@/styles/variables.module.scss';

.scroll_to_top {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0;
  transition: all 0.2s;

  svg {
    width: 18px;
    height: 18px;
    margin-left: 5px;
  }
}

.scroll_to_top.visible {
  opacity: 1;
  transition: all 0.2s;
}
