@import '@/styles/variables.module.scss';

#introduction_slice {
  position: relative;
  width: 100vw;
  height: 80vh;
  padding: 50px 100px;
  background-color: $background_black;

  #introduction_content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #introduction_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    #main_skills_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
