#introduction_slice_background {
  z-index: 1;
  width: 100vw;
  background-color: #01000f;

  #introduction_slice {
    position: relative;
    width: 100vw;

    #introduction_slice_content {
      position: relative;
      padding: 100px;
    }
  }
}
