@import '@/styles/new/variables.module.scss';

footer {
  position: relative;
  width: 100vw;
  height: 80vh;
  background-image: url('/new/img/png/footer/moco_logo_perspective_normal_noise.png');
  background-size: contain;
  background-position: 15%;
  background-repeat: no-repeat;

  #footer_socials {
    position: absolute;
    width: 100%;
    bottom: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }

  #copyright {
    position: absolute;
    width: 100%;
    bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
}
