@import '@/styles/variables.module.scss';

#last-projects-title-bar {
  grid-column: 1 / span 12;
  width: 100%;
  padding-top: 0.5em;
  margin-bottom: 10vh;
}

@media (max-width: $screen_breakpoint) {
  #last-projects-title-bar {
    grid-column: 1 / span 6;
  }
}
