#hero_slice {
  position: relative;

  #default_scene_container {
    width: 100vw;
    height: 100vh;
  }

  #head_text {
    z-index: 1;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 10%;
  }
}