#introduction_text_container {
  width: 100%;
  margin: auto;
  padding: 0 20%;
  margin-bottom: 50px;

  h2 {
    margin-bottom: 20px;
  }

  p {
    color: #8082ab;
    font-weight: 200;
    line-height: 1.6;
  }
}