#grid_container {
  z-index: 0;
  position: absolute;
  display: flex;
  flex-direction: row;

  .column {
    display: flex;
    flex-direction: column;

    .row {
      width: 60px;
      height: 60px;
      padding: 5px;
      /* border: solid 1px black; */
      border-radius: 10px;
      transition: opacity 200ms;
    }
  }
}
