@import '@/styles/new/variables.module.scss';

#review_cards {
  width: 90vw;
  height: 60%;
  padding: 50px 0 50px 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 25%;
  gap: $gap_medium;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.snap_inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 30px;
}

.snap_inline > * {
  scroll-snap-align: start;
}

@media screen and (max-width: $desktop_limit) {
  #review_cards {
    width: 100vw;
    grid-auto-columns: 30%;
  }
}

@media screen and (max-width: $small_limit) {
  #review_cards {
    width: 100vw;
    grid-auto-columns: 45%;
  }
}

@media screen and (max-width: $smaller_limit) {
  #review_cards {
    width: 100vw;
    grid-auto-columns: 80%;
  }
}

@media screen and (min-width: $large_limit) {
  #review_cards {
    grid-auto-columns: 20%;
  }
}

@media screen and (min-width: $larger_limit) {
  #review_cards {
    grid-auto-columns: 15%;
  }
}
