@import '@/styles/variables.module.scss';

.last-projects-name-wrapper {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

  .last-project-name-container {
    margin-top: -80px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2.2em;
    font-weight: bold;
    // clip-path: polygon(0% 32.5%, 100% 32.5%, 100% 62.5%, 0% 62.5%);
    clip-path: polygon(0% 40%, 100% 40%, 100% 60%, 0% 60%);
    transform: translateX(-35px);
    // transition: letter-spacing 0.3s ease-in-out, transform 0.3s ease-in-out;

    .last-project-arrow {
      margin-top: -3px;
    }

    .last-project-name {
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateY(-172%);

      .last-project-name-item {
        // margin-bottom: 20px;
        line-height: 1.2;
        transform: translateY(-100%);

        .last-project-name-character {
          display: inline-block; // Ensure transform works
          transform: translateY(-100%);
          margin-left: 0;
          margin-left: 0;
          letter-spacing: 0;
          will-change: transform; // Optimize for animation
          position: relative; // Ensure transform works properly
          opacity: 0;
        }
      }
    }
  }

  .last-project-name-container:hover {
    transform: translateX(0px);
    // letter-spacing: 0.02em;
    // transition: letter-spacing 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
}
