#last_projects_slice {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/img/test/hero_background_test.jpg');
  background-size: cover;

  #last_projects_content {
    width: 70%;
    height: 70%;

    #last_projects_container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
