@import '@/styles/variables.module.scss';

#last_projects_slice {
  position: relative;
  width: 100vw;
  padding: 100px;
  background-color: $background_color;

  #last_projects_background_container {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
  }

  #last_projects_content {
    z-index: 1;
    position: relative;
  }
}
