@import '@/styles/variables.module.scss';

#last_projects_slice {
  position: relative;
  width: 100vw;
  padding: 100px;
  background-color: $background_color;

  #last_projects_content {
    position: relative;
  }
}
