@import '@/styles/new/variables.module.scss';

#reviews_block_up {
  height: 40%;
  display: flex;

  #reviews_text_block {
    width: 100%;
  }
}

@media screen and (max-width: $desktop_limit) {
  #reviews_block_up {
    flex-direction: row;

    #reviews_text_block {
      width: 90%;
      justify-content: space-between;
    }
  }
}
