@import '@/styles/variables.module.scss';

#locale_switcher_button {
  height: 3.2em;
  padding: 0px 1.125em 0px 1.625em;
  font-size: 0.875em;
  font-weight: 900;
  background-color: $light_grey;
  border-radius: 6.25em;
  border-width: initial;
  cursor: pointer;
  transition:
    color 0.4s,
    background-color 0.4s;
}

#locale_switcher_button:hover {
  background-color: $bright_lavender;
}
