@import '@/styles/variables.module.scss';

#preloader_slice {
  position: fixed;
  background: #000;

  #preloader_h1 {
    font-size: 4rem;
    overflow: hidden;

    span {
      display: inline-block;
      /* text-shadow: 0 0 32px white;
      color: transparent; */
    }
  }
}
