@import '@/styles/variables.module.scss';

#socials_container {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $black;
  border-radius: 0.625em;
  opacity: 0;
  transform: rotateZ(10deg) translateX(-10px) translateY(40px) translateZ(200px) scale(1.3);
  transform-style: preserve-3d;
  will-change: transform, opacity;
  cursor: pointer;
}
