@import '@/styles/variables.module.scss';

#last-projects-section {
  position: relative;
  width: 100%;
  margin-top: 30vh;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: $grid-gap;
  padding: $base-padding-y $base-padding-x;
}

@media (max-width: $screen_breakpoint) {
  #last-projects-section {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
