@import '@/styles/variables.module.scss';

#last-projects-section {
  width: 100vw;
  height: fit-content;
  padding: 0 4.2vw;

  #projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

    .last-project {
      aspect-ratio: 16/9;
      margin-bottom: 50px;
      width: calc(50% - 10px); // More precise width calculation
      max-width: 100%;
    }
  }
}

@media (max-width: $screen_breakpoint) {
  .last-project {
    flex: 1 1 100%;
  }
}
