@import '@/styles/new/variables.module.scss';

#about_greeting {
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: $blured_background_color;
}

.show_about_greeting {
  transition: opacity $transition_M linear;
  opacity: 1;
}

.hide_about_greeting {
  transition: opacity $transition_M linear;
  opacity: 0;
}

.is_desktop_about_greeting {
  padding: $percent_margin_M $px_margin_S 0 $px_margin_S;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
}

.is_mobile_about_greeting {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap_M;
}
