@import '@/styles/variables.module.scss';

#locale_dropdown {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: $grey_light;
  user-select: none;

  #current_locale {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all $hover_transition ease-in-out;

    #caret {
      margin-right: 10px;
      transition: transform 0.3s;
    }
  }

  #current_locale:hover {
    color: $white;
    font-weight: bold;
  }

  #locale_options {
    z-index: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .locale_option {
      margin-top: 12px;
      font-size: 12px;
      cursor: pointer;
    }

    .locale_option:hover {
      color: $white;
    }
  }
}

#locale_dropdown.open #caret {
  transform: rotate(90deg);
}

@media screen and (max-width: $desktop_limit) {
  #locale_dropdown {
    position: absolute;
    right: 20px;
    bottom: 20px;

    #current_locale {
      position: relative;
    }

    #locale_options {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .locale_option {
        margin-top: 10px;
        transition: all $hover_transition ease-in-out;
      }

      .locale_option:hover {
        color: $white;
        font-weight: bold;
      }
    }
  }
}
