#projects {
  position: relative;
  width: 100vw;
  background-color: #050912;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  height: 800vh;
}
