@import '@/styles/variables.module.scss';
@import '@/styles/variables.module.scss';

#current_date {
  z-index: 2;
  position: fixed;
  width: 30%;
  height: 100%;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-weight: bolder;
  transition: background-color 1s linear;

  #month {
    font-size: 100px;
    margin-bottom: -30px;
  }

  #day_number {
    font-size: 70px;
  }

  #arrow_and_year_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 70px;

    #arrow_left_icon {
      width: 60px;
      height: 60px;
    }

    #year {
      font-size: 70px;
    }
  }

  #tracker {
    aspect-ratio: 1;
    padding: $px_margin_S;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(64, 64, 64, 0.3);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    // border-top: 2pt solid #ffffff33;
    border-radius: 50%;
    letter-spacing: 2px;

    /* #current_project {
      margin-top: -2px;
      // margin-left: -2px;
    }
    
    #slash {
      margin-top: 6px;
      // margin-left: 2px;
    }

    #projects_number {
      margin-top: 12px;
      margin-left: 3px;
    } */
  }
}
