@import '@/styles/variables.module.scss';

#enter_scene_button {
  padding: $px_margin_S $px_margin_M;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $px_margin_S;
  color: $mint;
  background: $forest;
  border-radius: 5px;
}

#enter_scene_button:hover {
  background: $calypso;
}
