@import '@/styles/variables.module.scss';

#hero_slice {
  position: fixed;
  background-image: url('/img/tests/nuclear_explosion.jpg');
  // background-image: url('/img/tests/200.gif');
  background-repeat: no-repeat;
  background-size: cover;
}
