@import '@/styles/variables.module.scss';

/* nav {
  display: flex;
  justify-content: flex-end;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    
    a {
      width: 400px;
      color: $white_op80;
      cursor: pointer;
      transition: 0.3s;
      transition: all .2s ease-in-out;
    }

    a:hover, .active {
      color: $white;
      font-weight: bold;
    }
  }
} */

nav {
  ul li {
    display: inline-block;
    text-align: center;
    padding: 0px;
  }

  a {
    color: $white_op80;
    cursor: pointer;
    transition: 0.3s;
    transition: all 0.2s ease-in-out;
  }

  a:hover,
  .active {
    color: $white;
    font-weight: bold;
  }

  a::before {
    display: block;
    font-weight: bold;
    visibility: hidden;
  }
}

#hamburger_menu_icon {
  display: none;
}

@media screen and (max-width: 700px) {
  #nav_wrapper {
    z-index: 9;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 54px;
    width: 120px;
    height: 100vh;
    transform: translateX(100%);
    transition: 0.3s transform ease-in-out;
    background-color: $black;

    ul {
      display: flex;
      margin-left: 10px;
      flex-direction: column;
      align-items: flex-start;
      gap: 3px;

      .active {
        color: $white;
        font-weight: bold;
      }

      li:last-child {
        margin-top: 10px;
      }
    }
  }

  #nav_wrapper.open {
    transform: initial;
  }

  #hamburger_menu_icon {
    z-index: 10;
    display: block;
    cursor: pointer;
  }
}
