@import '@/styles/new/variables.module.scss';

.review_card {
  aspect-ratio: 2 / 2.5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: red;

  p {
    text-align: justify;
  }
}
