@import '@/styles/new/variables.module.scss';

.review_card {
  min-width: 300px;
  aspect-ratio: 2 / 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: red;

  p {
    text-align: justify;
  }
}
