@import '@/styles/variables.module.scss';

footer {
  position: relative;
  width: 100vw;
  height: 70vh;
  background-image: url('/img/png/footer/logo_moco.png');
  background-size: contain;
  background-position: center;
  background-position-y: bottom;
  background-repeat: no-repeat;

  #footer_socials {
    position: absolute;
    width: 100%;
    bottom: $px_margin_L;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    font-size: 45px;
  }

  #copyright {
    position: absolute;
    width: 100%;
    bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    opacity: 0.5;
  }
}

@media screen and (min-width: $large_limit) {
  footer {
    height: 80vh;

    #footer_socials {
      font-size: 50px;
    }

    #copyright {
    }
  }
}

@media screen and (min-width: $larger_limit) {
  footer {
    height: 80vh;

    #footer_socials {
    }

    #copyright {
    }
  }
}

@media screen and (max-width: $desktop_limit) {
  .review_card {
    #footer_socials {
      font-size: 45px;
    }

    #copyright {
    }
  }
}

@media screen and (max-width: $small_limit) {
  footer {
    height: 50vh;

    #footer_socials {
      bottom: $top_bottom_margin_medium;
      font-size: 35px;
    }

    #copyright {
      bottom: $top_bottom_margin_small;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: $smaller_limit) {
  footer {
    height: 40vh;

    #footer_socials {
      font-size: 30px;
    }

    #copyright {
      font-size: 12px;
    }
  }
}
