@import '@/styles/variables.module.scss';

#about_dashboard {
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: hotpink; */
}

.show_about_dashboard {
  transition: opacity $transition_XXL linear;
  opacity: 1;
}

.hide_about_dashboard {
  transition: opacity $transition_M linear;
  opacity: 0;
}
