@import '@/styles/variables.module.scss';

#introduction {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;

  #h1_moco {
    font-size: 12rem;
    overflow: hidden;

    span {
      display: inline-block;
    }
  }
}
