@import '@/styles/variables.module.scss';

#introduction-title {
  margin: $gap_XL;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  .introduction-title-lines {
    width: 100%;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    // line-height: 7.5em;
    // line-height: 7.5rem;

    .introduction-title-text-blocks {
      opacity: 1;
    }
  }

  #introduction-title-first-line {
    transform: translateX(0%);

    #hi-text {
      transform: translateY(100%);
    }

    #im-federico-container {
      transform: translateX(0%);

      #im-text {
        transform: translateY(100%);
      }

      #federico-text {
        transform: translateY(100%);
      }
    }
  }

  #introduction-title-second-line {
    #a-text {
      transform: translateY(-100%);
    }

    #front-end-text {
      transform: translateY(-100%);
    }

    #developer-text {
      transform: translateY(-100%);
    }
  }
}
