@import '@/styles/variables.module.scss';

#see_all_projects_link_container {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: flex-end;

  #see_all_projects_link {
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: $text_light;
    font-size: $font_size_small;

    #see_all_projects_link_text {
      margin-right: 5px;
    }
  }
}
