@import '@/styles/variables.module.scss';

#hero_slice {
  background-image: url("/img/jpg/sky_test.jpg");

  #hero_h1 {
    font-size: 35rem;
    color: $fluorescent_yellow;

    span {
      display: inline-block;
    }
  }
}
