@import '@/styles/new/variables.module.scss';

#authentication {
  z-index: 8;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  color: $white;
  background-color: $blured_background_color;
  -webkit-backdrop-filter: blur($blur);
  backdrop-filter: blur($blur);
  transform: translateX(-100%);
  transition: $transition transform ease-in-out;

  #authentication_forms_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .sign_in_sign_up_switch_button_container {
      width: 100%;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        all: unset;
        cursor: pointer;
        color: $grey_light;
      }

      button:hover {
        color: $grey_lighter;
      }
    }
  }
}

#authentication.open {
  transform: initial;
}
