@import '@/styles/variables.module.scss';

.page_container {
  width: 100vw;
  display: flex;
  justify-content: center;

  .page {
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: $max_width;
    display: flex;
    flex-direction: row;
    font-size: $font_size_S;

    // background: red;
  }
}
