@import '@/styles/variables.module.scss';

.skills_paragraph {
  width: 100%;
  padding-top: 100px;
  margin-bottom: calc(-85px + 40px);

  .sp_content {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: $px_margin_L;
    border-top: 1pt solid #ffffff33;
    border-radius: 0 0 15px 15px;

    .sp_canvas_container {
      width: 150px !important;
      height: 150px !important;
      // aspect-ratio: 1;
    }

    .sp_description {
      padding: $px_margin_M;
      text-align: justify;

      .used {
        margin-top: $px_margin_M;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $px_margin_S;
        color: $calypso;

        svg {
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  .sp_content:hover {
    background: rgba(64, 64, 64, 0.3);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    transition: all 0.2s;
  }
}
