@import '@/styles/new/variables.module.scss';
@import '@/styles/new/text_blocks.module.scss';

.text_block_main {
  display: flex;
  flex-direction: column;
  gap: $gap_M;

  p {
    max-width: 35%;
    text-align: justify;
  }
}
