@import '@/styles/new/variables.module.scss';

#desktop_instructions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  #desktop_instructions_title {
    margin-bottom: $px_margin_XS;
  }

  #displacement_desktop_instructions {
    margin-bottom: $px_margin_XS;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $gap_M;

    #displacement_keyboard_keys {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $gap_XS;

      .keyboard_key {
        width: 50px;
        height: 50px;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ffffff90;
        border-radius: 10px;
        background-color: #ffffff10;
      }

      #left_down_right_keys {
        display: flex;
        flex-direction: row;
        gap: $gap_XS;
      }
    }

    p {
      max-width: 150px;
      text-align: end;
    }
  }

  #camera_orientation_desktop_instructions {
    margin-bottom: $px_margin_S;
    display: flex;
    flex-direction: row;
    align-items: center;

    #mouse_pointer_icon {
      margin: 0 $gap_XXXS 0 $gap_XXS;
    }

    #touchpad_icon {
      margin: 0 $gap_XS 0 $gap_XS;
    }
  }
}
