@import '@/styles/variables.module.scss';

#resources_menu {
  width: 400px;
  height: 100vh;
  padding-top: 90px;
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  // justify-content: flex-start;

  #on_this_page {
    margin-bottom: 10px;
  }

  .menu_section {
    color: $grey_light;
    font-weight: 500;
    transition: all 0.5s;
  }

  .menu_section:hover {
    color: $white;
    font-weight: 700;
    transition: all 0.5s;
  }

  .current_section {
    color: $external_link;
    font-weight: 500;
    transition: all 0.5s;
  }
}
