@import '@/styles/variables.module.scss';

#dashboard {
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 10vh;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: hotpink;
}
