@import '@/styles/new/variables.module.scss';

#reviews_container {
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: row;
  transform: translateX(100vw);
  transition: $transition transform ease-in-out;
  background-color: blue;
}

#reviews_container.open {
  transform: translateX(0);
}
