@import '@/styles/new/variables.module.scss';

#reviews_container {
  position: absolute;
  width: 100vw;
  /* transform: translateX(100vw); */
  transition: $transition transform ease-in-out;
  background-color: blue;
}

#add_review_container.open {
  transform: translateX(0);
}
