@import '@/styles/variables.module.scss';

.side_navigation_menu {
  width: 19%;
  height: 100%;
  margin-top: $page_margin_top;

  .sdm_on_this_page {
    margin-bottom: $px_margin_S;
  }

  .sdm_section_li {
    margin-bottom: $px_margin_XXS;

    .sdm_a {
      color: $grey_light;
      transition: all $hover_transition;
    }

    .sdm_a:hover {
      color: $white;
      font-weight: $font_weight_hover;
      transition: all $hover_transition;
    }

    .sdm_paragraph_li {
      margin-left: $px_margin_XS;

      .sdm_paragraph_a {
        font-size: $font_size_XS;
      }
    }

    .sdm_current {
      color: $sdm_current;
      font-weight: 500;
      transition: all 0.2s;
    }

    .read {
      color: $white;
      transition: all 0.2s;
    }
  }
}
