@import '@/styles/new/variables.module.scss';

#main_skills_container {
  width: 100%;
  padding: 0 $left_right_margin 50px $left_right_margin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
}
