@import '@/styles/variables.module.scss';

#hero_head_text_container {
  z-index: 1;
  position: absolute;
  width: 60%;
  height: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  #heading {
    color: $text_light;
  }

  #subheading {
    color: $text_light;
    width: 90%;
    margin-top: 30px;
    font-weight: 200;
    line-height: 1.6;
  }
}
