@import '@/styles/variables.module.scss';

#hero_head_text {
  z-index: 2;
  position: absolute;
  height: 100%;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;

  #hero_head_text_container {
    width: 30%;
    min-width: 300px;
    height: 30%;
    padding: 30px 50px 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 15px 0 0 15px;

    #heading {
      font-size: 46px;
      color: $text_light;
    }

    #subheading {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 200;
      text-align: justify;
      line-height: 1.6;
      color: $text_light;
    }
  }

  #creative_developer_container {
    width: 6%;
    min-width: 120px;
    height: 30%;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    border-radius: 0 15px 15px 0;
    color: black;
    background-color: $fluorescent_yellow;
  }
}

@media screen and (max-width: 700px) {
  #hero_head_text {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #hero_head_text_container {
      width: 90%;
      height: 50%;
      padding: 30px 50px 30px 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-radius: 15px 15px 0 0;

      #heading {
        font-size: 46px;
        color: $text_light;
      }

      #subheading {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 200;
        text-align: justify;
        line-height: 1.6;
        color: $text_light;
      }
    }

    #creative_developer_container {
      width: 90%;
      height: 10%;
      padding: 20px;
      display: flex;
      align-items: flex-end;
      font-weight: 600;
      border-radius: 0 0 15px 15px;
      color: black;
      background-color: $fluorescent_yellow;
    }
  }
}
