@import '@/styles/variables.module.scss';

#log_in_button {
  color: $alert_light_color;
}

#log_in_button:hover {
  color: $alert_light_color !important;
  font-weight: bold;
}

#log_out_button {
  color: $success_light_color;
}

#log_out_button:hover {
  color: $success_light_color !important;
}
