.formik_field_container {
  display: flex;
  flex-direction: column;

  input[type='text'] {
    all: unset;
    margin: 8px 0;
    padding: 12px 20px;
    border: 1px solid #2d2c2e;
    border-radius: 10px;
  }
}
