.project {
  position: absolute;

  .project_details {

    .project_description {
      line-height: 30px;
      width: 50%;

      .word_active {
        font-size: 20px;
        opacity: 1;
      }

      .word {
        font-size: 20px;
        opacity: 0;
      }
    }
  }
}

button {
  position: relative;
}
