@import '@/styles/new/variables.module.scss';

#project_cards {
  z-index: 2;
  position: absolute;
  width: 50%;
  max-width: 1000px;
  height: 100%;
  padding: $projects_margin_top 0 0 $projects_margin_left;
}
