@import '@/styles/new/variables.module.scss';
@import '@/styles/new/text_blocks.module.scss';

.text_block_simple {
  display: flex;
  flex-direction: column;

  h3 {
    margin-bottom: 20px;
  }

  p {
    text-align: justify;
  }
}
