@import '@/styles/variables.module.scss';

#play_rubiks_cube_button {
  display: flex;
  margin-top: $px_margin_L;
  flex-direction: row;
  align-items: center;
  color: $play_rubiks_cube_button;
  // opacity: 1;
  transition: color $transition_M linear;
  cursor: pointer;

  svg {
    width: 18px;
    height: 18px;
    margin-left: 5px;
  }
}

#play_rubiks_cube_button:disabled,
#play_rubiks_cube_button[disabled] {
  color: #7b7b7b88;
  // opacity: 0.5;
  transition: color $transition_M linear;
  cursor: not-allowed;
}
