@import '@/styles/variables.module.scss';

/* #hero_head_text {
  z-index: 2;
  position: absolute;
  // width: 100%;
  left: $px_margin_S;
  bottom: $px_margin_S;
  // left: 200px;
  // bottom: 200px;
  // font-family: var(--font-karmatic-arcade);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 50px;
  text-align: start;
  font-weight: bold;
  line-height: 50px;
} */

#hero_head_text {
  z-index: 2;
  position: absolute;
  /* width: 100%; */
  left: $px_margin_S;
  bottom: $px_margin_S;
  // left: 200px;
  // bottom: 200px;
  // font-family: var(--font-karmatic-arcade);
  /* display: flex; */
  /* justify-content: center; */
  font-size: 30px;
  text-align: left;
  /* color: Chartreuse; */
}
